[2017-08-25 11:59] PabloCastellano commented on #464
About the licensing I would choose some creative commons variant.
See https://creativecommons.org/choose/

[2017-08-25 14:25] PabloCastellano commented on #450
My idea is that `-y` automatically answers yes to yes/no questions. If pmbootstrap asks for a password, then the user still has to enter it. What do you think?

[2017-08-25 16:06] MartijnBraam commented on #450
I would `-y` to only answer yes to all answers, for full automated running you would have a `-q` option or something

[2017-08-25 16:08] craftyguy commented on #450
Ok, I agree with both of y'all, just want to make sure I understood
the requirements :)
On Fri, Aug 25, 2017 at 09:06:49AM -0700, Martijn Braam wrote:

[2017-08-25 16:17] PabloCastellano commented on #453
I did some research.

Actually `pmbootstrap qemu` runs the following command:

[code]

Following @PureTryOut's linked article, I have tried appending the following arguments to the previous command:

[code]

And I can successfully connect to it using `spicy` (from the `spice-client-gtk` package in Ubuntu)

[code]

First I tried without QXL support and weston didn't show up. Instead, the motd messa

[2017-08-25 16:37] MartijnBraam commented on #464
Here is a mint-style wallpaper created with blender

![pmos](https://user-images.githubusercontent.com/6928199/29723289-4ce97d9c-89c4-11e7-9d53-a5f84f3986d5.png)

The blender source:
[pmos.zip](https://github.com/postmarketOS/pmbootstrap/files/1252432/pmos.zip)

[2017-08-25 16:50] ollieparanoid commented on #452
I have put *a lot of* thought and research into this, and this is what I came up with. Sorry that it got a bit lengthy, you might want to grab a cold drink for this.

### Trying to work around the disadvantages

#### Git integration and public backup

[git-mediawiki](https://github.com/Git-Mediawiki/Git-Mediawiki/wiki/User-manual#getting-started-with-git-mediawiki) *is* integrated into upstream gi

[2017-08-25 17:10] kskarthik commented on #383
Label this as Long term priority until we get plasma working on already green ports :) Then we are good to go

[2017-08-25 17:24] ollieparanoid commented on #383
It has a `future` label already :) But if @yuvadm or someone else wants to work at this right now, why not? It is a blocker for getting `pmbootstrap` into `pypi` #327 after all and making the development more robust #382.

[2017-08-25 17:31] craftyguy opened #466 "Add option to `zap` for clearing out packages that mismatch versions in aports"
I bounce around between branches fairly often, and packages are frequently updated between branches, I get a lot of these types of warnings: WARNING: Package 'sdl2' in your aports folder has version 2.0.5-r0, but the binary package repositories already have version 2.0.5-r9999!.

It would make sense to have some form of zap that also clears out any binary packages that are newer than anything in a

[2017-08-25 17:34] ollieparanoid commented on #450
FYI: we already have `-q`, which silences the output for now. I think it makes sense to add a different switch to skip passwords (in case you want to have the output, but want to skip passwords).

[2017-08-25 17:34] craftyguy commented on #450
I'll take a shot at implementing this, since I'm now annoyed that I have to spam 'y' :)

[2017-08-25 17:39] #463 closed

[2017-08-25 17:39] MartijnBraam commented on #452
The device information could be fully integrated into the postmarketos.org website and have it update using a github hook. Maybe by providing a deviceinfo.yml file for the website with all the info that's in the wiki and parse that into a standard device page and a overview table with the supported devices.

About the mobile tables in the wiki; that could be fixed relatively simple with some css (

[2017-08-25 18:13] ollieparanoid commented on #452
The solutions with the tables sounds good to me, and from IRC it sounds more like people want the self-hosted wiki. So my position on this is neutral now.

[2017-08-25 18:21] ollieparanoid commented on #453
Great research work! I would actually combine both:
* Add a `--no-spice` switch
* If spice is enabled (default) and spice is not installed, print a message that it can either be installed or disabled.

[2017-08-25 18:44] PabloCastellano commented on #450
@craftyguy Great that you got motivated about this ux feature! :)

I've seen your current PR and looks good. But here's a more generic approach so that we can make this flag more generic and valid for more pmbootstrap commands. Tell me what you think and give it a try if you like it:

- Check `args.assume_yes` inside pmb.helpers.cli.confirm`
- Add the `-y` argument to the main parser (I mean, in t

[2017-08-25 18:46] craftyguy commented on #450
Oh, that's a great idea. I hadn't thought about other commands. I will modify my PR to include this functionality if we are at a consensus on this

On August 25, 2017 11:44:52 AM PDT, Pablo Castellano <notifications@github.com> wrote:

[2017-08-25 18:51] MartijnBraam commented on #464
I found the solution for the stem of the "p" when using the full name. Smallcaps:

![postmarketos](https://user-images.githubusercontent.com/6928199/29728159-235fbd0c-89d7-11e7-814c-f1482bbcb8bc.png)

[2017-08-25 19:15] PabloCastellano commented on #453
Good, I will give it a try

[2017-08-25 19:54] craftyguy opened #468 "postmarketos-android-recovery-installer fails shellcheck"
FYI @ata2001

Not sure why Travis didn't catch this, but I'm unable to run static_code_analysis after the android recovery installer PR was merged:

[code]

[2017-08-25 20:10] craftyguy commented on #450
@PabloCastellano

I've implemented what you described. It's definitely more elegant, though it makes placement of the option a little awkward. For instance, it's an argument to pmbootstrap and not to the "function":

`./pmbootstrap --assume-yes (or -y) install --blah --blah2`

[2017-08-25 20:42] ata2001 commented on #468
@craftyguy Thanks for reporting, didn't know, why was it successful on my local machine/travis.

[2017-08-25 20:43] PabloCastellano commented on #453
Said by NotKit on Matrix:

[2017-08-25 21:58] yuvadm commented on #452
@ollieparanoid thanks for the detailed overview of our options!

After reading your comment I understand now much better my main criticism against the standalone wiki (be it mediawiki or whatever) - **fragmentation**. We're still in very early stages of the project and we already have several different resources relevant for project information - Github repos (i.e. code), website, IRC/Matrix, Gith

[2017-08-25 22:14] ollieparanoid commented on #452
@yuvadm thanks for your insights on this! If I counted right, the score is: you and me slightly against it/neutral, the rest in this thread basically wants the MediaWiki. We have a winner! I'll try to put a migration script together. Let's move forward and thanks for discussing this everyone! 👍

[2017-08-25 22:31] #468 closed

[2017-08-26 00:37] ollieparanoid commented on #452
Progress:
  - [x] Convert and move all pages to MediaWiki
  - [x] Add a redirect page for *every* page in the old wiki
  - [x] Set the old wiki to read-only
  - [ ] Fix broken links in the new wiki (I'm on it)
  - [ ] Either fix (preferred!) or remove the GitHub integration in the new wiki (@MartijnBraam)
  - [ ] Add a simple spam protection question in the registration (@MartijnBraam)
  - [ ] Mak

[2017-08-26 01:59] #452 closed

[2017-08-26 02:04] ollieparanoid commented on #452
One more thing, please register at the new wiki, and look through the pages (especially the device pages you have contributed to) and fix if you see something that broke during the migration. Thanks!

[2017-08-26 06:16] kskarthik commented on #452
Why the new wiki is also not mobile friendly?

[2017-08-26 08:33] ollieparanoid commented on #452
It is now, see https://github.com/postmarketOS/wiki/issues/5.

[2017-08-26 09:39] robinpaulson opened #471 "wrong pkgrel of musl"
the file "APKBUILD" in /home/user/build attempts to download this:
https://nl.alpinelinux.org/alpine/edge/main/armhf/musl-1.1.16-r17.apk

but this is the only version available:
https://nl.alpinelinux.org/alpine/edge/main/armhf/musl-1.1.16-r18.apk

how is that file created? can a person with access update the relevant line to r18?

cheers

[2017-08-26 09:44] robinpaulson commented on #471
Opps, sorry not enough info. It's the armhf version, i'm building pmos for i9100

Anyhow, it's this file here which is wrong:
https://github.com/postmarketOS/pmbootstrap/blob/master/aports/cross/musl-armhf/APKBUILD

line 6 should be 18, not 17

cheers!

[2017-08-26 10:33] ollieparanoid commented on #471
I will fix this ASAP, thanks for letting me know. The fix is to run `pmbootstrap aportgen gcc-armhf`, if you don't want to wait.

[2017-08-26 10:40] robinpaulson commented on #471
great, cheers for the quick response!

[2017-08-26 10:43] robinpaulson commented on #471
Hmm:
fatal: open /dev/null or dup failed: Permission denied
is the response when I run the command you suggest above. I've seen several errors about accessing /dev/null before, in the log for pmbootstrap

[2017-08-26 10:47] ollieparanoid commented on #471
Which filesystem and host OS are you using, and are you running in a VM? Device nodes can not get created on ntfs shares, old versions of ecryptfs, maybe on encfs, shared VM folders, ...

[2017-08-26 10:50] ollieparanoid commented on #471
`musl-armhf` has been updated in the `master` branch now. But you will run into the device nodes issues anyway, so make sure that this works. You can also join the [IRC/matrix chat](https://wiki.postmarketos.org/wiki/Matrix_and_IRC) for instant help :)

[2017-08-26 10:50] #471 closed

[2017-08-26 10:52] ollieparanoid opened #472 "Check if it is possible to create device nodes in the work folder"
We've had a few cases where the device node creation did not work. It would be nice if we check that during `pmbootstrap init` and tell the user what could cause this and what to do about it (use another location, link to a wiki page with details).

Possible causes:
* Shared VM folder
* NTFS folder?
* Old versions of ecryptfs
* maybe encfs

[2017-08-26 10:58] MartijnBraam commented on #472
* filesystems with the `nodev` flag enabled
* vfat/exfat
* nfs shares

[2017-08-26 11:00] ollieparanoid commented on #472
In all reports, a `/dev/null` device creation fails, so we should try to do that (and remove it afterwards, if it works).

[2017-08-26 11:17] ollieparanoid commented on #466
See also: https://wiki.postmarketos.org/wiki/Troubleshooting#Newer_version_in_binary_package_repositories_than_in_aports_folder

[2017-08-26 11:24] robinpaulson commented on #471
Ubuntu 16.04, ecrypt v111 (apparently the newest is v112). I'm not using a vm or ntfs. I don't know of encfs and don't have it installed. I will check out matrix chat if I can't get it working soon.

[2017-08-26 11:27] ollieparanoid commented on #471
the problem is ecryptfs here. It should work when you change the work folder (the one it asks you for in `pmbootstrap init`) to another location.
For example:
[code]

[2017-08-26 11:32] ollieparanoid commented on #10
@dhruvkar: could you update it again? Also can I help with automatizing this? Seems like Netlify has a webhook we could call from GitHub on new pushes, would that work?
https://www.netlify.com/docs/webhooks/

[2017-08-26 12:18] robinpaulson commented on #471
OK, so is it worth installing v112 from a ppa on launchpad?

[2017-08-26 12:20] ollieparanoid commented on #471
If you really want to, you could try it. I have no idea whether that works. On a side note, I advise against adding unnecessary `ppa`s to your installation for security reasons.
The solution from above should work (although the `pmbootstrap` folder will not be encrypted then).
In case you want to have everything encrypted, I recommend using `cryptsetup/Luks` to encrypt the whole system instead of

[2017-08-26 15:56] craftyguy commented on #450
Closed via 3942a06a2da101843605a1a19b045080137c6dbf

[2017-08-26 15:56] #450 closed

[2017-08-26 23:31] robinpaulson commented on #471
OK, I tried the suggestion of moving the working directory out of /home. The build is running now. Point taken about the PPA.

As an aside, I think /var may be a more appropriate place for the working dir.

[2017-08-27 00:27] dhruvkar commented on #10
@ollieparanoid I've regenerated the site. If you have the energy/time please go for it!
These last two months have been overly busy, I apologize.

[2017-08-27 05:07] craftyguy opened #475 "sdcard format fails during install, unable to detect new partitions"
Ugh, ok a new error has shown up occasionally when trying to do `pmbootstrap install --sdcard=/dev/sdX`.

What's weird about this one is that if I immediately do a `ls /dev/sdc*` then I see all of the partitions there.

[code]

[code]

[2017-08-27 13:59] ollieparanoid commented on #10
No problem, this is a free time project and that you set up the hosting in the first place and registered the domain has already helped a lot!

@MartijnBraam: so I guess it would make sense, if we moved the homepage to the same server as `wiki.postmarketos.org`, so we can re-generate it automatically with a push-hook. Could we work on that together? And if so, could you please open up a new issue

[2017-08-27 14:00] #296 closed

[2017-08-27 14:05] MartijnBraam commented on #10
Opened issue about hosting migration on https://github.com/postmarketOS/postmarketos.github.io/issues/19

[2017-08-27 14:28] ollieparanoid commented on #475
*Follow up to #463.* Alright, I have two solutions for this.

1. Run `partprobe` after the parted commands (busybox does partprobe, so we don't need to install anything):
[code]
2. If that does not work, we could try to find the partition in a loop with a 100ms delay after each try, and for 20 times (2 seconds) or something like that.

Could you try the first patch and tell me if it works? 👍

[2017-08-27 19:26] PureTryOut commented on #453
As far as I know, virtio-gpu might not work with every hardware setup. I believe it literally adds a virtual GPU right? I seem to recall the AMD drivers in Mesa only getting support for it a few months ago, and it was one of the first. This will have to be verified though.

[2017-08-28 00:34] craftyguy commented on #475
@ollieparanoid I really appreciate the help on this!

Unfortunately calling partprobe doesn't resolve it.. The error doesn't happen every time, but I can't characterize it to any particular sequence of events that I am doing.

[2017-08-28 08:51] drebrez commented on #456
@MartijnBraam I will test it on the actual device and if it works I will start working on integrating this functionality in pmbootstrap 👍

[2017-08-28 08:54] drebrez commented on #432
@jamesjames @yuvadm the links are now working fine.

[2017-08-28 08:54] #432 closed

[2017-08-28 18:49] ata2001 opened #478 "Kernel updates"
Right now you either need to use fastboot/odin or a recovery to flash a kernel update. Since we have a cool package manager we could avoid this.

The kernel package installs the kernel image in /boot, all we need is a shell script that generates and flashes the boot.img.

[2017-08-28 18:57] ollieparanoid commented on #475
Thanks for testing! I made a PR for the second approach I've mentioned above.

[2017-08-28 19:04] ollieparanoid commented on #478
Good idea! Some remarks:
* As the N900 boots with uboot from `/boot` on the sdcard, it is already working there (in theory, if you have a binary package for the kernel update)
* Our `mkbootimg` already generates the `boot.img` file (and `mkbootimg` gets called when you update the kernel, just like in Alpine!), so all that is left to do is flashing it to the boot partition afterwards.
* We would ne

[2017-08-28 19:25] ollieparanoid commented on #135
There were a few cases already where it made sense to suggest `abootimg` (because it repackages the boot.img without fully extracting it and rebuilding it), so it would be nice to have it packaged actually!

[2017-08-28 19:26] craftyguy commented on #478
I've confirmed that kernel updates, using apk, install properly on the N900 now that /boot is mounted on boot.

[2017-08-28 20:00] ata2001 commented on #478
@ollieparanoid where is mkbootimg called?

[2017-08-28 20:26] ollieparanoid commented on #478
@ata2001 here:
https://github.com/postmarketOS/pmbootstrap/blob/946ba82cd451baabc383cae367ac1e35d09f814c/aports/main/postmarketos-mkinitfs/mkinitfs.sh#L174-L197

[2017-08-28 20:27] ollieparanoid commented on #478
(We always call `mkbootimg` through `mkinitfs`)

[2017-08-28 20:37] ata2001 commented on #478
I'd prefer a command like `update-kernel`, that you can run manually to flash the updated kernel.

[2017-08-28 20:39] ollieparanoid commented on #478
Yeah, that seems to be a lot safer right now, good idea!

[2017-08-28 21:20] yuvadm commented on #466
+1 on making this a proper feature, I get this a lot as well.

[2017-08-28 21:21] craftyguy commented on #466
Closed via a9e5b362dc359458fc6807c1f02e5e8d3b89d900

[2017-08-28 21:21] #466 closed

[2017-08-29 18:20] ollieparanoid opened #480 "Distcc fails sporadically, causing single files to be compiled with qemu (slow!)"
I suspect, that `distcc` has a timeout for the compiler, but more research needs to be done on this. This does not block compiling, but slows it down unnecessarily.
[code]

[2017-08-30 00:15] craftyguy commented on #480
Just FYI, I found this response which says that the timeout we would be interested in is not configurable: https://github.com/distcc/distcc/issues/212

exit code 118 is definitely a "timeout", according to `error_codes.h`

[2017-08-30 01:15] dzervas commented on #471
That's been a problem since the early days (specifically musl). Can we automate it in a way? Or detect when a package needs `aportgen` and run it automatically?

[2017-08-30 12:37] PabloCastellano commented on #433
I've fixed the `-redir` warning in PR https://github.com/postmarketOS/pmbootstrap/pull/482. Can you test it?

Are you still getting the other error related to not specifying the format of the image? I see that we already use the `raw` option.

[2017-08-30 18:58] #475 closed

[2017-08-30 21:25] MartijnBraam opened #484 "Add command to flash system image to userdata partition"
This would be nice for devices with a small system partition. Either `flash_userdata` (which might be taken by some other functionaly in the future if we implement LVM) or `flash_system --to-userdata`

[2017-08-30 21:32] TheBestDevs opened #485 "[Suggestion]"
Making a qt5 based api

[2017-08-30 21:32] TheBestDevs commented on #485
Its cross platform and easy to use !

[2017-08-30 21:51] ollieparanoid commented on #485
Welcome, @TheBestDevs!

Unlike other mobile operating systems you are not limited by the frameworks and programming languages in postmarketOS. Use *anything* you want to create your applications. Everything that is available in Linux will work. So if you want to make programs in QT5, just do it!

[2017-08-30 21:53] #485 closed

[2017-08-30 21:57] ollieparanoid commented on #484
Good idea! (Another variation would be: `flash_system --partition=userdata` - this could help for the cases where the system/userdata partition has a strange name, such as on the i9100.)

[2017-08-30 22:05] ollieparanoid opened #486 "Better usability for outdated musl-armhf and musl-aarch64"
We need `musl-armhf` to install the `armhf` version of `musl` libc in the native (mostly `x86_64`) chroot in order to get the cross-compiler working. To avoid compiling we simply re-package Alpine's `armhf` package of musl. But that means 404 errors in case they just updated it and `pmbootstrap` did not adjust yet. See also: [troubleshooting](https://wiki.postmarketos.org/wiki/Troubleshooting#musl

[2017-08-30 22:06] ollieparanoid commented on #480
Great research work and thanks for asking upstream how to handle this!

[2017-08-30 23:06] drebrez commented on #484
I also vote for the `--partition` argument, since I have a device with both partitions (system and userdata) very small but it has another bigger partition (internal sd)

[2017-08-31 00:06] ollieparanoid opened #487 "Check if initramfs-extra is up to date on boot"
Right now, we have arbitrary breaking changes, when we update the initramfs-extra. Users boot into a non-working state, and need to figure out by themselves that they need to re-flash the system partition.

It would be better if we showed a dedicated splash screen, informing that the initramfs-extra is out of date (along with a shortlink to the wiki with details on how to update just that single u

[2017-08-31 10:49] PabloCastellano commented on #433
Quoting @PureTryOut

That's good news and so, virtio-gpu is definitely the way to go!

Since the spice approach is giving me better performance and virtio-gpu is only supported in recent versions of qemu (I'm not sure if virtio-gpu will work for me), I would like to keep the spice functionality (which would benefit others in my situation).

**We need more testers**

...to learn more about the perf

[2017-08-31 10:49] PabloCastellano commented on #453
Quoting @PureTryOut

That's good news and so, virtio-gpu is definitely the way to go!

Since the spice approach is giving me better performance and virtio-gpu is only supported in recent versions of qemu (I'm not sure if virtio-gpu will work for me), I would like to keep the spice functionality (which would benefit others in my situation).

**We need more testers**

...to learn more about the perf

[2017-08-31 16:57] ollieparanoid commented on #453
I did a bit of research on my idea to run graphical programs from within the chroot. And we can do it *without actually entering the chroot*! That way we do not need to pass a X11 cookie or similar, and gtk programs for example will use the user's gtk settings. It will be like a native program.

The real advantage is, that we **don't need to support multiple versions of qemu (or spice)**, just the

[2017-08-31 17:45] Pneumaticat opened #490 "Recovery zip creation fails on maguro (it expects device name to equal kernel name)"
When running `pmbootstrap install --android-recovery-zip`, it gives the following error:

[code]

Going into the chroot reveals that the file it's trying to copy is actually called `boot.img-samsung_tuna`because the Galaxy Nexus (`device-samsung-maguro`) uses the kernel `linux-samsung-tuna`. (I'm not sure if the fact that they're named differently is a bug in and of itself.) The installer, however

[2017-08-31 21:18] drebrez commented on #441
An advantage to have this one instead of what we have now (python based) is that we will not install anymore the python package in the device chroot and reduce the system image.
Is it correct @ollieparanoid ?

[2017-08-31 21:26] drebrez commented on #437
Closing, since a decision has been made.

### Firmware packages will be placed in `aports/firmare` folder.

[2017-08-31 21:26] #437 closed

[2017-08-31 21:52] ollieparanoid commented on #441
We need Python for `postmarketos-splash`. If we replaced that with C/C++ code, then yes. But until then we need Python anyway.

[2017-08-31 22:02] drebrez commented on #441
@ollieparanoid why don't we build both (splashscreens and bootimg) in `native` chroot?

[2017-08-31 22:13] drebrez commented on #456
@MartijnBraam with nbd-server we will need to add additional libs into the initramfs, or we can use the first method (netcat) to add them just right before starting the install procedure

[2017-08-31 22:18] drebrez commented on #456
@ollieparanoid we don't have to depend on `pv`, since I didn't found a way to detect when the transfer is done, with `pv` I see a nice progress bar and I can safely close the connection when it reaches 100%.

[2017-09-01 06:53] MartijnBraam commented on #441
In pmbootstrap yes, but if you update packages on your phone after the initial build you run mkinitfs and thus make-splash on the phone directly

[2017-09-01 10:16] pavelmachek commented on #478
Just word of warning -- if power fails during update. There should still be way to recover with fastboot.

[2017-09-01 18:07] PureTryOut commented on #453
I've been testing virtio-gpu a bit more and so far I got 3D acceleration to work and Weston to launch. Right now I'm having issues with the mouse however. If I use the Qemu GTK backend (`-display gtk,gl=on`) the mouse events don't get send to the guest at all, and if I use the Qemu SDL2 backend (`-display sdl,gl=on`) the mouse jumps all over the place. I'm out of ideas so if anyone knows anything,

[2017-09-01 20:05] ollieparanoid commented on #441
*Pinging @osm0sis so he does not miss the discussion. We still did not decide whether we actually use it though. Thanks for making a release which we could package!*

[2017-09-01 20:11] PabloCastellano commented on #421
Just for the record, [EFIDroid](http://efidroid.org/) is a similar project.

Some quick notes about EFIDroid:
- It is a UEFI based Android bootloader, as opposed to MultiROM which uses kexec to load a different kernel from initramfs (is this correct?)
- At the moment, only devices with Qualcomm chipsets are supported ([source](https://github.com/efidroid/projectmanagement/wiki/%5BEFIDroid%5D-Porti

[2017-09-01 20:26] ollieparanoid commented on #456
Well, it doesn't seem like a big dependency. So if `pv` is packaged in Alpine and we get improved usability (progress bar!), then we don't need to re-invent the wheel in my opinion.

[2017-09-01 20:40] ollieparanoid commented on #453
This was mentioned in the chat already, but not sure if you have tried it:

[Gentoo Wiki](https://wiki.gentoo.org/wiki/QEMU/Options#USB) says:

[2017-09-01 20:42] ollieparanoid commented on #478
As long as we do not overwrite fastboot, this will still work 👍

[2017-09-01 21:30] #442 closed

[2017-09-01 23:52] osm0sis commented on #441
Hey, just for reference, my fork is definitely more updated than others, including proper unpackbootimg support for extended cmdline which I don't think any others have right now, and sha256 support.

[2017-09-02 00:33] PureTryOut commented on #453
I've tried it, no luck.

If you launch a demo animation (say the spinning wheel), you'll notice it slowing down while moving the mouse. This makes me think a bit more goes wrong then just the cursor position. It seems like the whole VM is actually slowing down. I really have no clue what can cause that.

[2017-09-02 01:42] ollieparanoid opened #497 "linux-postmarketos kernel should not have -Alpine as suffix"
`-postmarketOS` would be better to avoid confusion with Alpine's official kernel.

[2017-09-02 03:53] #490 closed

[2017-09-02 04:03] robinpaulson commented on #471
We could get the release file for the repo and parse that, like any existing package manager.

[2017-09-02 11:03] ollieparanoid commented on #471
@robinpaulson: that is what we do exactly. But we only do it when you run the `aportgen` command :)

[2017-09-02 12:58] PabloCastellano commented on #453
### Some more research on enabling OpenGL in QEMU.

I found that Ubuntu enabled virtio gpu and opengl support (and switched from sdl1 to gtk3) in QEMU 2.8 but then reverted it :-(.

The reason seems to be the following:
- Recently virgl had **a lot** of security issues (including memleaks, heap overflows and DoS!), which spikes the maintenance effort around it
- Some people do not want qemu built

[2017-09-02 17:42] Wouter92 opened #499 "Weston config should be loaded on start"
Currently the config of weston is loaded post-install. This is done in [postmarketos-ui-weston.post-install](https://github.com/postmarketOS/pmbootstrap/blob/314c17e03cf8cddfd0f385d9db2f23f76f9a0418/aports/main/postmarketos-ui-weston/postmarketos-ui-weston.post-install).

Whenever changing one of the weston config values in the deviceinfo files, you should explicitly reinstall `postmarketos-ui-wes

[2017-09-02 17:54] PureTryOut commented on #453
I recommend trying to fix the SDL2 build rather than fix GTK, as right now GTK with OpenGL seems to completely break the mouse. Sure, so does SDL2, but at least it's *somewhat* usable.

Also, I'm not entirely sure how you want to achieve a headless setup with OpenGL support. From my testing it seems that we require `-display {sdl,gtk},gl=on`, otherwise we get that `[drm] virgl 3d acceleration not

[2017-09-02 18:29] ollieparanoid commented on #499
Thank you for making this issue! After a bit of discussion in the chat, we came up with the following idea:
* do not duplicate weston configuration variables in the `deviceinfo` anymore
* have one `/etc/xdg/weston.ini` *provided by the device- package* (problematic packages only, which do not work with the default config!)
* have one `/etc/xdg/weston.ini.default` provided by `postmarketos-ui-westo

[2017-09-02 18:41] Wouter92 commented on #141
Sony Xperia Z ([Full log](https://pastebin.com/U6TQ74MG)):
[code]

[2017-09-02 19:21] ollieparanoid opened #501 "Creating the rootfs image fails sometimes"
The following error just happened during `pmbootstrap install`:
`losetup: /home/user/rootfs/lg-mako.img: failed to set up loop device: No such file or directory`

When I run `pmbootstrap install` again, it gets created fine. This might be a regression in using `truncate` instead of `fallocate`? Or maybe it is related to the `loop` module not getting loaded properly?

I rand `lsmod | grep loop` dir

[2017-09-02 19:30] #327 closed

[2017-09-02 22:05] ollieparanoid commented on #101
So what we actually need to do, is exploiting or replacing the bootloader, like it is done here (WIP):
https://wiki.postmarketos.org/wiki/Coolpad_Modena_2_(coolpad-modena2)

This issue is too abstract to be helpful right now, closing.

[2017-09-02 22:05] #101 closed

[2017-09-02 22:06] ollieparanoid commented on #188
Nowadays we can read the backlog here:
https://chat.disroot.org/#/room/#postmarketos:disroot.org

No bot necessary 👍

[2017-09-02 22:06] #188 closed

[2017-09-02 22:15] ollieparanoid commented on #165
Keymap loading has been implemented in #379.

[2017-09-02 22:18] #321 closed

[2017-09-02 22:20] ollieparanoid commented on #99
Too bad we didn't get anywhere yet. By now we know a lot more about `boot.img` files. Please answer if you're willing to try out some more ideas, closing otherwise.

[2017-09-03 01:17] JamesHealdUK opened #505 "APKBUILD source doesnt download files with the correct name when file url has a parameter. (Use the Content-Disposition header for file names)"
If I set the source in my APKFILE to the desired source (in this case, from a Gitlab instance) like so:
`source="https://git.merproject.org/mer-core/lipstick/repository/archive.tar.gz?ref=${hash}"`
pmbootstrap ends up downloading it with the name: `archive.tar.gz?ref=db74015dd7924dea52b5996d69e8fd7311f2d0f0`

When it should be downloaded as: `lipstick-db74015dd7924dea52b5996d69e8fd7311f2d0f0.tar.g

[2017-09-03 02:15] craftyguy commented on #165
@ollieparanoid

Actually, this doesn't implement loading a keymap in initfs. Setup-keymap starts a service on which is not started in initfs, only after.

[2017-09-03 05:44] ollieparanoid commented on #505
Thanks for making this issue. Alpine's `abuild` is responsible for downloading the source files, and it has a syntax to use a different file name:

More information: https://wiki.alpinelinux.org/wiki/APKBUILD_Reference#source

[2017-09-03 05:44] #505 closed

[2017-09-03 05:48] ollieparanoid commented on #505
Note: As you are using a hash, you can use `$pkgname-$hash.tar.gz::http//...`.

[2017-09-03 10:26] JamesHealdUK commented on #505
ohh, thanks a lot!

[2017-09-03 13:35] ollieparanoid commented on #501
That's interesting, now I got the following message:
[code]

And again it worked the second time.

[2017-09-03 13:40] ollieparanoid commented on #438
Jasper commented that in IRC:

[2017-09-03 13:46] jja2000 commented on #438
Hi, Jasper here.
Getting the kernel to run is not the main problem for the N9 currently since you can use [Ubiboot](http://wiki.maemo.org/Ubiboot) to load zImage files and point it to a partition or image file for the Distro you want to use (In this case pmOS of course).

The actual main problem for the N9 is the kernel itself. MeeGo uses 2.6 (I think it's 2.6.32) and currently has barebones suppo

[2017-09-03 14:01] #433 closed

[2017-09-03 14:49] craftyguy commented on #438
That's a very silly reason to hide behind, since the current PowerVR IP holders have resisted all calls to do this. The device is still usable without hw acceleration..

On September 3, 2017 6:46:46 AM PDT, jja2000 <notifications@github.com> wrote:

[2017-09-03 15:16] jja2000 commented on #438
The first I wholeheartedly agree with, PowerVR is probably never going to do it, but the thing is that the N900 also has a PowerVR chip which has working Hardware Acceleration. Someone just has to spend time developing a driver which Sebastian Reichel should be doing already.
That the N9 should work fine without hw acc is something I doubt. I don't think you should depend on the Single Core Cortex

[2017-09-03 15:21] craftyguy commented on #438
This is getting a bit off topic for this ticket, but by releasing drivers for other components on the device, he will be helping out any other phones which also share those components. Arguably the biggest problem we have on this project is with components not having mainline kernel support. If you have a functional driver for *any* component, upstream it and help others out. don't wait for your o

[2017-09-03 17:10] pavelmachek commented on #438
Actually, mainline support should be pretty good for N9 / N950. Even video should work (not sure if in 4.13 or in -next). Full desktop environment is doable without hw acceleration; but yes, hardware acceleration would be nice.

Anyway, N9 / N950 just do not boot for me, on any recent kernel, and I don't know why. I can bypass security and boot some old kernel, but... I'm unfamiliar with bootloade

[2017-09-03 17:45] jja2000 commented on #438
I checked on Sebastian's git repo on kernel.org, just the screen for the n950 works. Filippz (the "mystery developer", sorry for not mentioning his name before) had some patches for Linux to make it work along with some other components. I compiled an older zImage (4.8.14 to be exact) if you want to try it let me know.

Anyways Pavel, did you try using the openmode kernel together with Ubiboot lin

[2017-09-03 17:53] jonty-comp opened #508 "Weston package fails to build"
Just picked up this project today and dusted off my old HTC One V (primou) to see if I can get it working - after a lot of fiddling, i'm almost there, but I can't create a system image because a Weston patch fails to apply.  The only thing that looks to be different is a hanging tab on line 224 in `compositor-fbdev.c`, and i've certainly not changed anything in this area since checking out earlier

[2017-09-03 20:27] Jgjot-Singh commented on #464
I have some photos(my own work) that I'd like to make available. Should I just create an imgur gallery and link to it here?

[2017-09-03 20:33] PabloCastellano commented on #508
Looks like a regression caused by 12951dc3cfb44b6541651ce14fc42a24bd5bd773

[2017-09-03 21:48] aairey commented on #322
I also have an HTC Ace lying around.

@VictorNine if you have any more information on how to get started and which specific things you want to test as mentioned above, maybe I could help.

[2017-09-03 23:04] zhuowei commented on #421
@PabloCastellano The latest versions of MultiROM no longer needs the compatibility patches for the kernel being kexec'd; you only need the full-patched kernel. (see the [commit message](https://gist.github.com/Tasssadar/6766757#file-mako-aosp-implement-kexec-hardboot-patch-L412))

[2017-09-04 03:49] zhuowei opened #511 "Feature Request: Support booting from NFS over USB"
I'm wondering if it's possible to boot postmarketOS while tethered via a USB connection without flashing the OS when developing. Is this feasible? Dev boards are often booted by mounting the root FS over NFS, and as postmarketOS exposes a USB networking interface, this may be useful for tethered boot.

[2017-09-04 08:11] MartijnBraam commented on #464
We've moved the artwork to https://github.com/postmarketOS/artwork, you can create a PR there with your wallpapers

[2017-09-04 13:05] jambonmcyeah commented on #508
I have the same issue and `git reset --hard 3aa95c24cd7540664204797117ac4f8b7e092193` worked for me

[2017-09-04 17:02] #508 closed

[2017-09-04 17:04] ollieparanoid commented on #508
@jonty-comp: Thanks for reporting and making a PR that fixes this issue!

@jambonmcyeah: Touch keyboard is a broad topic. What we have to offer right now:

1. The keyboard in the initramfs to type in the unlocking password (as shown in the 100 days blog post). This is currently being integrated, check out #476 and talk to @craftyguy to help make it available for all devices.

2. Weston, our demo U

[2017-09-04 17:18] ollieparanoid commented on #511
That is a great idea, and I don't see any reason why it should not be possible.

I recommend, that we wait with this until we have the on-screen-keyboard integrated into the initramfs (#476). Unless this blocks you, in which case we would figure out how to do it now.

The initramfs code resides in [postmarketos-mkinitfs](https://github.com/postmarketOS/pmbootstrap/tree/master/aports/main/postmarke

[2017-09-04 17:24] zhuowei commented on #511
Thanks: I'll take a look.

[2017-09-04 19:38] zhuowei opened #513 "Upstream linux-firmware package contains outdated and vulnerable Wi-Fi drivers"
Alpine's [linux-firmware](https://pkgs.alpinelinux.org/package/edge/main/x86/linux-firmware) package pulls from the upstream linux-firmware repo: the Wi-Fi drivers available there are [very old](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/log/brcm). For example, the BCM4358 firmware available there was built in September 2016 and is vulnerable to [Broadpwn](https://

[2017-09-04 21:53] ollieparanoid commented on #513
###### +CC @ncopa (maintainer of `linux-firmware` - *is it OK when I do it like that, or would you prefer to be notified in another way?*)

@ncopa: How does Alpine handle this issue, would you guys consider "patching" (using another blob) in the `linux-firmware` package?

@zhuowei: For postmarketOS, we can use any source (e.g. AOSP like you have linked) for firmware instead in case we need Broadco

[2017-09-04 23:42] zhuowei commented on #513
@ollieparanoid I emailed [the Broadcom employee](https://github.com/arend) that [originally uploaded](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/log/brcm/brcmfmac4358-pcie.bin) the BCM4358 firmware, about updating the firmware in the linux-firmware repository, and he replied that
[code]

So some of the newer devices may receive newer firmware in the upstream repo e

[2017-09-05 02:02] jambonmcyeah commented on #508
@ollieparanoid I want to thank all of you for creating this. I have always wanted a usable Linux Distribution that works on a mobile device and you guys are slowly making it come true.

[2017-09-05 06:19] BrianOtto commented on #501
I got the same error today too. Running `pmbootstrap install` a second time also worked for me.

[code]

[2017-09-05 18:36] ollieparanoid commented on #501
@BrianOtto: Can you reproduce this reliably? If so, please test if #511 fixes it for you. Otherwise we'll probably merge it anyway, as it should make the issue go away/make pmbootstrap more robust for that case.
Thanks for reporting!

[2017-09-05 18:43] ollieparanoid commented on #513
It's nice of him that he answered you so fast! *Maybe* it makes sense to use [this pre-release](https://github.com/raspberrypi/linux/issues/1342#issuecomment-321221748), that also fixes broadpwn, in the meantime. The Raspberry Pi 3 is also affected, as that ticket shows.

@zhuowei: I guess you need the broadcom driver for your device? If so, I would suggest you try out that inofficial version with

[2017-09-05 19:41] pavelmachek opened #520 "[rx51] integrate ofono"
ofonod v1.6 from Debian works with Nokia N900, given right kernel. It should be possible to integrate it to pmos, too.

@craftyguy

[2017-09-05 19:43] pavelmachek commented on #511
On n900, with suitably patched kernel, you can do root=/dev/nfs (without initramfs). It works but is rather slow.

[2017-09-05 20:29] craftyguy commented on #520
Thanks @pavelmachek

I have created a branch with a kernel config we can play around with: [feature/rx51_ofono](https://github.com/postmarketOS/pmbootstrap/tree/feature/rx51_ofono)

Notes on running ofono test scripts:

1) install ofono, python2, & git: `apk add ofono python2 git`

2) Grab ofono source: `git clone http://git.kernel.org/?p=network/ofono/ofono.git`

3) scripts can be run by invoking

[2017-09-05 20:55] PabloCastellano commented on #501
@BrianOtto I guess @ollieparanoid meant https://github.com/postmarketOS/pmbootstrap/pull/518/

[2017-09-05 21:23] pavelmachek commented on #520
I get failure at step 2):

localhost:/my# git clone http://git.kernel.org/?p=network/ofono/ofono.git
Cloning into 'ofono'...
fatal: repository 'http://git.kernel.org/?p=network/ofono/ofono.git/' not found

date -s '2017-09-05'
git clone https://git.kernel.org/pub/scm/network/ofono/ofono.git

Does the trick.
									Pavel

[2017-09-05 21:28] craftyguy commented on #520
Yea, I assume you have the right date/time. You can also start the ntpd service: `rc-service ntpd start`

[2017-09-05 21:29] PabloCastellano commented on #520
`ofono/test/enable-modem` has python3 shebang. Why do you need python2?

[2017-09-05 21:32] craftyguy commented on #520
@PabloCastellano

The scripts need py-dbus, which isn't built in Alpine for python3 (only python2). The scripts don't seem to be using anything specific to python3, and any attempts I have made to build/package py-dbus for python3 have failed horribly (yes, even copying the APKBUILD for python2 py-dbus and modifying).

[2017-09-05 22:37] pavelmachek commented on #520
Ok, if someone wants to debug it.

This is strace ofonod from debian:

open("/run/udev/data/+platform:48058000.ssi-controller",
O_RDONLY|O_LARGEFILE|O_CLOEXEC) = -1 ENOENT (No such file or
directory)
open("/sys/devices/platform/68000000.ocp/48058000.ssi-controller/ssi0/port0/ssi-protocol/net/phonet0/uevent",
O_RDONLY|O_LARGEFILE|O_CLOEXEC) = 10
open("/run/udev/data/n2", O_RDONLY|O_LARGEFILE|O_CLOE

[2017-09-06 01:16] rschulman commented on #99
No! I'm still here! Sorry, was just on vacation over the summer and had to turn away from this for a bit. If there's a new method that might work, I still have the dlx just lying around. Happy to give it a shot.

[2017-09-06 01:27] deepakgangwar commented on #421
[Dual boot patcher](https://dbp.noobdev.io/) seems a good alternate option for this purpose as this does not require any major kernel modification as far as I know. The main benefits of using this are following -
*  The huge number of [supported devices](https://dbp.noobdev.io/supported_devices.html) (278).
* Does not require explicit support from ROMs

[Source](https://github.com/chenxiaolong/Dua

[2017-09-06 02:18] craftyguy commented on #520
I pushed some updates to the ofono branch that allow building/booting the N900 kernel and sysfs nodes are populated:

[code]

Ofono still prints a bunch of these errors on start, then does nothing:
[code]

[2017-09-06 03:35] craftyguy commented on #520
@pali

Sorry to bother you, but we could really use any wisdom you are willing to bestow on this situation!

[Kernel config, for 4.13, can be found here](https://github.com/postmarketOS/pmbootstrap/blob/feature/rx51_ofono/aports/main/linux-postmarketos/config-postmarketos.armhf). Ofono is 1.20 (through Alpine Linux repo).

Kernel cmdline does **not** have `nokia-modem.pm=0`.

[2017-09-06 08:08] BrianOtto commented on #501
@ollieparanoid and @PabloCastellano

I am able to reproduce the issue reliably. The only problem is the results of my tests were, well, odd ...

In short, PR #518 does not appear to fix the issue.

I am new to this build process, and it's possible I may not be understanding something and / or testing incorrectly. So let me explain the tests I ran, and the results I got for each.

**Test 1 - An att

[2017-09-06 08:48] pavelmachek commented on #520
On pmos, we get bunch of "ofonod... Device is missing required
OFONO_DRIVER property" errors. We /run/udev/data contains that
property; but we do not have that file on pmos. Alternative place for
that data should be /dev/.udev/db , but we do not have that either.

https://unix.stackexchange.com/questions/206806/files-in-folder-run-udev-data

ofonod seems to rely on udev, and we do not have require

[2017-09-06 14:09] craftyguy commented on #520
` /run/udev/data` does exist on pmos, but none of the files in it mention ofono or the modem.

On September 6, 2017 1:48:46 AM PDT, pavelmachek <notifications@github.com> wrote:

[2017-09-06 16:18] ollieparanoid opened #524 "Zap in 'pmbootstrap init' removes chroots in *previous* work folder"
@BrianOtto wrote in https://github.com/postmarketOS/pmbootstrap/issues/501#issuecomment-327408580:

[2017-09-06 16:22] ollieparanoid commented on #501
Wow... you have spent a lot of effort debugging this! I am very grateful for that and the information you have found out is more than helpful.

`logging.debug` prints to the log, that is visible with `pmbootstrap log` (the output gets saved to `$work/log.txt`.) So if the chroot folders still exist, you could grep the log messages for the NOTE message to see if it retried successfully.

Your expect

[2017-09-06 17:27] pavelmachek commented on #520
I don't have `/run/udev/data` on pmos:

localhost:/home/user# ls /run/udev/
control  rules.d
localhost:/home/user# ps aux | grep udevd
1318 root       0:00 /sbin/udevd --daemon
1541 root       0:00 grep udevd
localhost:/home/user#

[2017-09-06 17:33] craftyguy commented on #520
Strange. It's totally there for me on pmos:
[code]

None of those files mention the modem or ofono.

I also tried adding the ofono.rules file (from the ofono repo) to `/etc/udev/rules.d`, and re-triggering udev, that didn't result in any noticeable change

[2017-09-06 19:09] pavelmachek commented on #520
I did udevadm trigger, and /run/udev/data/ appeared.

We are missing /lib/udev/rules.d/97-ofono.rules file on pmos. I added it. After a reboot, and

udevadm trigger
udevadm settle
modprobe nokia_modem
modprobe phonet
modprobe hsi
modprobe hsi_char
modprobe omap_ssi
modprobe cmt_speech
udevadm trigger

I now have n8 file:

localhost:/run/udev/data# cat n8
I:262900666
E:OFONO_DRIVER=n900
E:OFONO_ISI

[2017-09-06 19:59] ollieparanoid commented on #99
No need to be sorry, this is a free time project 👍
Cool that you want to try it again. What we did not try yet with the htc-dlx, but lead to success at least in one case.
* use `abootimg` (packaged for Ubuntu/Debian, not yet for pmOS, but we can do that if you need it: #135) to modify the known working `boot.img` file (from LineageOS/TWRP/whatever)
* replace the initramfs and kernel with the postm

[2017-09-06 20:17] ollieparanoid opened #526 "pmbootstrap hangs everywhere (sudo zombie process problem)"
It appears that the latest version of sudo as packaged in Arch Linux, `1.8.21`, basically causes this bug with sudo:
https://blog.famzah.net/2010/11/01/sudo-hangs-and-leaves-the-executed-program-as-zombie/

**TL;DR:** `sudo` never realized when a program is finished. You can in `pmbootstrap log` when sudo gets called. Downgrade `sudo` in Arch Linux to `sudo-1.8.20-1-x86_64.pkg.tar.xz` (grab it fro

[2017-09-06 20:17] pavelmachek opened #527 "[rx51] Battery discharges when connected to PC"
('Battery 3.89V 3.93V 3.94V', '63% 70% 0%', '0/0 mAh', 'Charging', '-114/650/100 mA')

...which means battery dicharged by 114mA, while connected to PC over USB cable. Fix is to do

echo 500 > /sys/class/power_supply/bq24150a-0/current_limit

somewhere in the startup scripts (which allows 500mA charge; not too fast, but enough to keep battery from discharging). It may be also good idea to disable

[2017-09-06 21:40] pavelmachek commented on #62
And I guess I should mention... I'm using Xfce on N900. It is not really finger-optimized, but is mostly usable with the stylus. I like it better than original Maemo. I also had MATE (Gnome 2) running on the box.

[2017-09-06 22:17] BrianOtto commented on #501
@ollieparanoid

Yes, your solution worked !

I also did the **Test 1** scenario again, just to double check and verify against a brand new build... but this time I ran `sudo modprobe loop` before `./pmbootstrap.py install`, and this is working too.

Your theory is correct, **losetup** thinks that the file doesn't exist when the loop module is not loaded :)

[2017-09-06 22:42] ollieparanoid commented on #501
### \o/

Here's how we could fix it: Calling `pmb.helpers.run.root(["modprobe", "loop"])` in `pmb/install/losetup.py` in the `mount()` function before calling `losetup`.

I'm a bit short on time right now, so I can't do the necessary testing etc. But I will make a PR for this soon, unless you want to take a shot at it.

Thanks for testing that theory!

[2017-09-06 23:15] BrianOtto commented on #501
Sure, I can take a shot at it. I'll give it a go tonight.

[2017-09-06 23:27] craftyguy commented on #527
Did you see that on pmOS? Looks like the limit is already set to `500` on pmOS:
[code]

[2017-09-07 06:13] craftyguy commented on #520
I built the pmOS 4.13 kernel with the gpio-switch functionality from Pali's kernel, and enabled it (incl. loading `modprobe nokia-modem pm=0`, and without) but it didn't make any difference to the output of ofonod.

[2017-09-07 08:30] BrianOtto commented on #501
PR #528 has been created, tested and confirmed working on my setup.

[2017-09-07 13:09] ncopa commented on #513
I would prefer that this gets reported to the upstream linux-firmware maintainers so they can update that.

[2017-09-07 15:44] craftyguy commented on #520
In case anyone is interested, here's the patch I used to add gpio-switch support to the kernel (based on @Pali's patch): https://gist.github.com/craftyguy/e87a1eb9f5fe4ecf1ac343ec5ae4a676

As mentioned previously, this didn't help the situation, ofono still does not see the modem.

[2017-09-07 16:24] hpagseddy opened #529 "samsung-golden build error"
sh: 1: cannot create /proc/sys/fs/binfmt_misc/register: Directory nonexistent
[log.txt](https://github.com/postmarketOS/pmbootstrap/files/1285390/log.txt)

[2017-09-07 17:07] #501 closed

[2017-09-07 17:18] ollieparanoid commented on #529
The `binfmt_misc` registration is needed to execute `armhf` binaries on `x86_64` with QEMU. Could it be, that this feature is disabled in your kernel?

Which distribution do you run (Ubuntu I assume from your profile picture?), and which kernel version? And do you run it with a custom kernel config?

We should be able to figure this out soon. Thank you very much for trying out `pmbootstrap`!

[2017-09-07 17:56] z3ntu commented on #501
I also didn't have any problems after this update. Thanks :)

[2017-09-07 17:58] z3ntu commented on #526
The package is also already available on Arch Linux.

[2017-09-07 18:01] ollieparanoid commented on #526
Cool, thanks for the heads up!

[2017-09-07 18:01] #526 closed

[2017-09-07 18:18] z3ntu commented on #497
#521 is the PR for this issue for reference (this `added a commit that referenced this issue` message from GitHub didn't easily get me to the PR)

[2017-09-07 18:21] z3ntu commented on #478
The best solution of course would be having a proper recovery for postmarketOS which gets flashed to the recovery partition which can fix stuff 😉

[2017-09-07 18:21] ollieparanoid commented on #513
@ncopa: after reading the [README](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/README) of the `linux-firmware` repository, I doubt that there is much more that we can do to get it fixed upstream, except for nicely ask a Broadcom employee to upload a fixed version (which is what @zhuowei already did, see above):

patent grant to end users to ensure full function

[2017-09-07 18:23] craftyguy commented on #520
I started doing git bisect on ofono's source, and identified that things started breaking very badly at this commit: https://git.kernel.org/pub/scm/network/ofono/ofono.git/commit/?id=3ac449e25fc8cb9880c48b8f309189c6a644f200

Using the parent commit, the modem is detected (list-modems shows it, ofono log shows nokia-gpio toggling it), but enable-modem script eventually segfaults:

[code]

[2017-09-07 18:38] ollieparanoid commented on #478
@z3ntu: that is a bit tricky, because the recovery partition does not work the same way for all devices. [Some Samsungs for example](https://wiki.postmarketos.org/wiki/Deviceinfo_flash_methods#heimdall-isorec) can't really have their own recovery kernel there, they were supposed to only have their own initramfs. Also non-Androids will probably not have such a recovery partition. In the long run it

[2017-09-07 18:42] z3ntu commented on #421
@PabloCastellano Just want to correct you quickly

EFIDroid does NOT use the Android build system, it uses similar syntax and targets and uses the repo tool from Google but the rest are his own Python scripts etc.

[2017-09-07 18:44] z3ntu commented on #478
Second-stage bootloader is also what EFIDroid does (getting back to #421 ^^) and it's currently being rewritten to support touchscreen and having a nice UI so maybe when this rewrite is done, we can take a look at EFIDroid again :)

[2017-09-07 19:58] #524 closed

[2017-09-07 20:59] tssk commented on #422
My device (as said before - I believe have stock PIT layout) does not have SYSTEM partition but has FACTORYFS. I think that we should flash to this one.

https://android.stackexchange.com/a/142423

So the command should probably be:

heimdall flash --FACTORYFS /home/user/rootfs/samsung-i9100.img

But this is only part of the issue because when I try to do that manually the process fails after 9%.

[2017-09-07 21:13] pavelmachek commented on #520
Could you put compiled .apk (or ofonod binary?) somewhere? Preferably
as old version as you can easily build?

[2017-09-07 21:16] tssk commented on #422
In case any one could understand the heimdall usb log I am attaching it.
[heimdall-usb-log.txt](https://github.com/postmarketOS/pmbootstrap/files/1286147/heimdall-usb-log.txt)

[2017-09-07 21:23] tssk commented on #422
Could it be that the image is rejected by the device for some reason?

source https://github.com/Benjamin-Dobell/Heimdall/issues/191#issuecomment-317183924

[2017-09-07 21:25] hpagseddy commented on #529
Im using Void Linux and kernel 4.9(i think) but i will change distro to Ubuntu and try again, thanks.

[2017-09-07 22:06] BrianOtto commented on #524
This is working for me. The previous work directory no longer gets zapped. Thanks!

[2017-09-07 22:26] ollieparanoid commented on #529
OK, closing this then. Please comment when it still doesn't work.

[2017-09-07 22:26] #529 closed

[2017-09-07 22:29] #497 closed

[2017-09-07 22:33] ollieparanoid commented on #422
Thanks for testing this! I recommend contacting the Heimdall developer for support, you could open an issue in their tracker for example.

[2017-09-07 22:35] tssk commented on #109
@ata2001 Hello, I tried this to create ZIP for i9100 but it failed for me:

(026297) [00:25:15] (buildroot_armhf) create recovery zip
(026297) [00:25:15] (buildroot_armhf) % cd /var/lib/postmarketos-android-recovery-installer/ && mv /tmp/install_options install_options
(026297) [00:25:15] (buildroot_armhf) % cd /var/lib/postmarketos-android-recovery-installer/ && cp /mnt/rootfs_samsung-i9100/boot/

[2017-09-07 23:17] drebrez opened #533 "Issue with postmarketos-demos"
The latest version of postmarketos-demos fails with the following error:
[code]

[2017-09-08 00:44] robinpaulson commented on #471
Ah, excellent. I should read more of the code and docs.

[2017-09-08 01:09] craftyguy commented on #520
Looks like the issue is that the nokia-modem driver does not create any device nodes under `/dev`, [this causes the udevng plugin to bail when setting up the modem.](https://git.kernel.org/pub/scm/network/ofono/ofono.git/tree/plugins/udevng.c#n1321) Specifically, the call to `udev_device_get_devnode` returns NULL. Udev reports that no 'DEVNODE' property exists for this device, hence the reason thi

[2017-09-08 01:28] craftyguy commented on #520
@sre, maybe you can help us understand what may need to change here to get the N900's cellular modem working with the latest ofono version?

[2017-09-08 10:16] pavelmachek commented on #520
I'm pretty sure ofonod needs to be fixed, kernel is working as
designed, even if it may be slightly unusual not to have /dev/ entry.

For testing, you may want to point ofonod at /dev/zero. ofonod should
not be able to do much damage there, and it may help you get further.

[2017-09-08 11:15] sre commented on #520
This does look like a issue introduced by ofono. The kernel only provides a network device for the modem, so there is no DEVNODE. Nokia's N9 kernel provided /dev/cmt/<gpios>, but that is *not* the modem controller. It's a second "device" providing the control GPIOs (and a huge hack). For reference this is how I used ofono with Debian's and mainline kernel, no gpio-switch stuff involved:

[code]

A

[2017-09-08 12:19] pavelmachek opened #536 "[rx51] X server does not work"
I attempted to install Xfce4, following Apline HOWTO.

apk add alpine-desktop xfce4

Then disabled weston

mv /etc/profile.d/start_weston.sh /etc/profile.d/disabled/
killall weston

Unfortunately, neither startxfce4 nor startx works. Problem is the same:

MESA-LOADER: failed to retrieve device information
gbm: failed to open any driver (search paths /usr/lib/xorg/modules/dri)
gbm: Last dlopen erro

[2017-09-08 14:30] zhuowei commented on #513
@ollieparanoid The Nexus 6P's stock firmware uses a [blob from AOSP](https://android.googlesource.com/platform/hardware/broadcom/wlan/+/android-8.0.0_r4/bcmdhd/firmware/bcm4358/); should I use that instead of linux-firmware's blob?

[2017-09-08 15:10] ollieparanoid commented on #536
Judging from how @opendata26 did it for freedreno, you would need to enable omap support in `libdrm` in Alpine first: https://github.com/alpinelinux/aports/commit/9be66b837ba3eaea99733504ce882524b6f255a2

The option for omap seems to be `--omap-experimental-api`, as shown [here](https://cgit.freedesktop.org/mesa/drm/tree/configure.ac#n126).

*In case it is not that obvious, create a folder `aports

[2017-09-08 15:14] ollieparanoid commented on #533
*Some context: the machine ID is generated by systemd, in case it does not exist. Here is some [more  information](https://www.freedesktop.org/software/systemd/man/machine-id.html) about it. Alpine works without systemd, but we need to run eudev for a lot of programs (which is a forked version  of udev, without systemd, because udev was merged into systemd).*

Looks like eudev requires that `/etc/

[2017-09-08 15:28] craftyguy commented on #520
@pavelmachek @sre

Thank you both for the clarifications. I'm in contact with some folks in the ofono project to try to get to the bottom of this regression 😄

[2017-09-08 16:04] ollieparanoid commented on #513
Yep, that must be newer and should have the broadpwn security holes fixed, so please use that instead.

[2017-09-08 16:12] drebrez commented on #533
@ollieparanoid I have to check again, but yesterday I tried to run `/usr/bin/dbus-uuidgen` and `service dbus start` but it was like the dbus wasn't present. I will check again later.

[2017-09-08 18:05] MartijnBraam commented on #536
Hmm interesting, I've ran i3 on xorg before by manually starting xorg (without installing any device driver packages) and then starting the i3 binary. I've tried xfce by following the manual and then xorg broke for me.

It might be fixed by running `setup-xorg` which is provided by alpine.

[2017-09-08 19:11] drebrez commented on #422
I've created the PR #537 which adds the possibility to specify the variable `flash_heimdall_partition_system` in the deviceinfo, so you can set it to `FACTORYFS`

[2017-09-08 19:50] PabloCastellano commented on #121
@Nutcake and @drebrez, could you try if https://github.com/postmarketOS/pmbootstrap/pull/495 (weston 3.0.0) solves this issue?

[2017-09-08 21:01] drebrez commented on #533
@ollieparanoid I tested it by zapping all the packages and rebuilding everything, the `dbus` package is not installed anymore, I think that the reason is that they removed the `dbus` dependency from the `wpa_supplicant` package (https://git.alpinelinux.org/cgit/aports/commit/?id=49794390171fe37829d0f4f162823b43917116dc) and no other package that we use have it as a dependency.
I tried to just inst

[2017-09-08 21:18] craftyguy commented on #527
I'm closing this since this doesn't appear to affect pmos, as I mentioned in my previous comment. If this is not true for you, then we'll need more information about how your device/pmos install differ from the default configuration in order to debug!

[2017-09-08 21:18] #527 closed

[2017-09-08 21:22] MartijnBraam commented on #35
I've just tried the hammerhead build on the current mainline again and this stopped working, the workaround on the wiki still works

[2017-09-08 21:29] pavelmachek commented on #527
I definitely seen the "100mA charge" problem on pmOS, but can not
reproduce, so... I'll speak up if it reappears.

But you may want to integrate the second echo... to turn off yellow
light. We'll then be able to use the RGB LED for notifications even
while charging.

[2017-09-08 22:07] ollieparanoid commented on #533
Sounds like a perfect solution to me, thanks for debugging this!

[2017-09-08 22:44] #533 closed

[2017-09-08 22:47] ollieparanoid commented on #35
Could you port the error symptoms?

[2017-09-08 23:51] #256 closed

[2017-09-09 00:03] drebrez commented on #35
@MartijnBraam which workaround you used? you created a boot.img and booted directly without flashing? that workaround to create the boot.img in the host shouldn't be necessary anymore, please try with `pmbootstrap flasher boot`, which does the same thing, if it works

[2017-09-09 01:27] Pneumaticat commented on #513
Seems like a group has also [created some aftermarket firmware patches](https://github.com/seemoo-lab/nexmon) for BCM4358 as well as other vulnerable chipsets like BCM4339 (used in the Galaxy Nexus). They seem to fix broadpwn and add some more features (e.g. monitor mode).

Do you think it would be a good idea to get this packaged for postmarketOS?

[2017-09-09 01:48] ollieparanoid commented on #513
@Pneumaticat: excellent find! Yes, we should get that packaged, as it really allows to patch firmware that is not supported by upstream anymore \o/ we should look out to avoid [their data collection](https://github.com/seemoo-lab/nexmon/blob/master/STATISTICS.md#how-do-i-disable-the-collection-of-statistics) though.

[2017-09-09 09:41] eMPee584 commented on #60
Just a note about encryption: yes it's the latest craze but it is costly. Even though it might be naive, I don't use encryption on any of my devices and I'd like to have it optional. I see the value of encrypting a contingent home partition, but how would crypting system files help beyond access rights?

[2017-09-09 10:26] PabloCastellano opened #542 "Moving common kernel patches to a specific folder"
Usually kernels in pmbootstrap need the same patches for successful compiling, which adds duplication to our repository and confuses newcomers.

Do you think it would be a good idea to keep these common patches (like [00_fix_return_address.patch](https://github.com/postmarketOS/pmbootstrap/blob/master/aports/device/linux-samsung-i9070/00_fix_return_address.patch)) in a special folder like `aports/

[2017-09-09 12:29] PabloCastellano opened #543 "Compile qemu with virglrenderer support"
In order to improve qemu video performance (see https://github.com/postmarketOS/pmbootstrap/issues/453), I'm trying to compile Alpine's qemu with virglrenderer enabled (which is necessary for OpenGL support).

Eventually we could use this version from the chroot and the developer would not need to have qemu in their host machine, which is good because we keep the system clean and also because this

[2017-09-09 13:01] eMPee584 commented on #438
There also has been steady progress on bringing up mainline support for the xt894 Motorola Droid 4, see Sebastian's latest post https://www.elektranox.org/2017/08/0022-droid4 ... looking forward to start hacking on PmOS!

[2017-09-09 13:12] ollieparanoid commented on #60
@eMPee584: encryption became optional already, see #104 and #119. When you encrypt everything, you are giving out the least information possible, and thus you reduce your attack surface. If you want to discuss this more, you could start a thread in [/r/postmarketOS](https://www.reddit.com/r/postmarketOS/) for example, or ask in `##postmarketos-offtopic` (in my opinion it would fit in better there

[2017-09-09 13:27] ollieparanoid commented on #542
For some context, this is how it works now: Whenever you run `checksum`, `build` or `menuconfig`, `pmbootstrap` will copy the entire `aport` folder of the package you are running the command on, to the chroot. Then it will execute the corresponding `abuild` command on them.

The most elegant way I can think of to implement your propsal would be using symlinks inside the git repository, and modifyi

[2017-09-09 13:42] ollieparanoid commented on #543
I have had a similar issue a long time ago, and the cause was there, that the `gcc` did not like the order the libraries were specified in the command-line. The same code worked on another distribution fine, and the cause was that Alpine uses an alternative implementation of `pkgconfig` called [`pkgconf`](https://github.com/pkgconf/pkgconf) (because it does not require itself to compile or somethi

[2017-09-09 13:43] eMPee584 commented on #421
For the record: Safestrap (Droid 4 et al.) is a similar boot manager project..

[2017-09-09 18:38] MartijnBraam commented on #35
No the flasher boot and flasher_flash kernel both don't work. The workaround is creating the boot.img outside pmbootstrap and using fastboot outside the chroot to flash it.

[2017-09-09 20:18] craftyguy commented on #520
Well, I have hit a dead end that I'm not sure we can easily overcome: https://lists.ofono.org/pipermail/ofono/2017-September/017491.html

Looks like the isi modem driver is pretty much completely broken in ofono, in the sense that at least one critical code path was not originally tested when it was merged, and now it's segfaulting when trying to enable the modem.

[2017-09-09 22:02] drebrez commented on #35
@MartijnBraam so that means the `mkbootimg` we are using is not working for the hammerhead?
can you try with the osm0sis version? #441
Which program you used to create the working boot.img?

[2017-09-10 01:35] zhuowei opened #544 "firmware-adreno doesn't contain blobs for Adreno 4xx"
There's a few devices using the Adreno 4xx GPUs that we probably want to support in PostmarketOS (e.g. Nexus 6, Nexus 6P), but firmware-adreno only includes the a2xx and a3xx blobs:

[code]

Should we add the 4xx blobs to the existing package or create a new package for adreno 4xx blobs? (For the Nexus 6P, the required blobs are `a420_pfp.fw` and `a420_pm4.fw`.)

[2017-09-10 03:06] zhuowei opened #545 "pmbootstrap shutdown confused by deleted /dev/loop3p2 node"
I received this error when running `pmbootstrap shutdown`:

[code]

[2017-09-10 04:02] zhuowei opened #546 "weston build missing /usr/lib/libweston-desktop-2.so.0.0.0 library"
The weston package seems to be missing a library file:

[code]

And listing the package confirms that the library is missing:

[code]

I'm using the latest master (e421313632676cf2e332e62a0fe039a8499a9021) with a few Nexus 6P patches (no changes outside of aports/device/device-huawei-angler, aports/device/linux-huawei-angler)

[2017-09-10 05:32] zhuowei commented on #511
I've posted a proof-of-concept: how can I implement this properly so that this becomes a valid way to test builds?

[2017-09-10 06:55] BrianOtto opened #548 "init does not validate package names properly"
When I run `./pmbootstrap.py init` it asks me what packages I want to install. If I enter any package name with a + (plus sign) or a . (period) then I will get a validation error.

e.g.

[code]
It's a pretty simple change to the regex in `pmb/config/init.py` to support this. I have it fixed on my local copy and will commit it to a PR tonight.

[2017-09-10 08:15] BrianOtto commented on #548
PR #550 has been created, tested and confirmed working on my setup.

[2017-09-10 08:48] BrianOtto opened #551 "New init configuration option for free space on the image file"
I am currently running **pmbootstrap** in **qemu** and trying to compile a very large application after it boots up. The 20% extra space that #336 automatically adds is not enough. I have to hard code a larger size in the `get_subpartitions_size()` function at `pmb/install/install.py`.

e.g.

[code]

It would be nice if this was a configuration option that was asked during `/pmbootstrap.py init`.

[2017-09-10 10:12] PabloCastellano commented on #544
If we accept to have another package, we would also need to split current firmware-adreno into 2xx and 3xx blobs for coherency. So I would keep all in the same package. What do others think?

[2017-09-10 10:18] #135 closed

[2017-09-10 10:25] #548 closed

[2017-09-10 10:27] drebrez commented on #546
@zhuowei I'm getting the same issue, I think it might be due the recent update of libweston to the version 3.0.0

[2017-09-10 10:37] ollieparanoid commented on #546
Yep, weston just got updated to 3.0.0 in Alpine upstream. Does this issue go away when building weston 3.0.0 from #495? It is in branch `update-weston-3.0.0`.

[2017-09-10 10:41] ollieparanoid commented on #544
`firmware-adreno-1-r2.apk` is only 11 KB in size, so I don't think it is worth the additional maintenance effort involved with a splitted up version. I would add the `4xx` blobs to that package as well.

[2017-09-10 10:50] ollieparanoid commented on #545
Which Linux distribution do you run it on? I haven't seen deleted loop devices being listed in `/proc/mtab` yet, but that seems to be the issue here.
[`umount_all_list`](https://github.com/postmarketOS/pmbootstrap/blob/20abe8e8ca4b593d80e832a7ef08cf0b4e827936/pmb/helpers/mount.py#L82) is responsible for the list of mountpoints, that get umounted we could filter for mountpoints with `\040(deleted)`

[2017-09-10 11:01] ollieparanoid commented on #551
It is possible to resize the installation image, after it has been created as documented in the [QEMU](https://wiki.postmarketos.org/wiki/Qemu) wiki article. But I understands, that as we have it now, this is not really intuitive and you are not the first one who asked this so we should improve the situation.

For some context, the initramfs of pmbootstrap automatically adjusts the partition table

[2017-09-10 11:05] ollieparanoid commented on #441
I've thought about how to package this, so we could have it side by side with the current mkbootimg. I propose we package it as `cmkbootimg` (because it is based on the C version of mkbootimg).

[2017-09-10 11:11] drebrez commented on #546
I've found another solution, simply adding the `libweston` package to the weston dependencies solve it, creating the PR right now

[2017-09-10 11:17] drebrez commented on #546
@ollieparanoid I'm not sure anymore about my solution, adding `libweston` dependency to our weston APKBUILD is kind of strange.
What I've done was, add the depends and run `pmbootstrap build weston --arch=armhf`, this fixed it.
Maybe the build was enough without adding the dependency.
@zhuowei can you try to rebuild the package to see if it works?

[2017-09-10 11:38] ollieparanoid commented on #520
@sre, do you have any recommendation on how to continue here? Thanks for throwing in your expertise earlier!

[2017-09-10 11:59] PabloCastellano commented on #199
The reason seems to be that weston-launcher is not compatible with musl (it uses GNU's `error()`).

I found [a patch](https://lists.freedesktop.org/archives/wayland-devel/2016-September/031179.html) from September 2016 to fix it that never got merged.

Since we are having building issues (see https://github.com/postmarketOS/pmbootstrap/issues/546) with weston now that weston 3.0.0 is out and avail

[2017-09-10 14:39] sre commented on #520
First of all: I don't have the ISI specs either. I suggest to start with a git bisect to find the first broken commit and then try to fix things from there. That way it's much easier to analyze issues, since you can easily test (works / works not VS crashes / crashes a bit later). As a starting point: When I worked on the kernel PM patches I did use `5e4ce76bba92` as base (current master back then

[2017-09-10 15:08] craftyguy commented on #520
I actually had some success late last night, and able to get past the issue I saw and enable the modem. I need to think about how to patch the issue I saw, since I don't completely understand what is going on with in.

On September 10, 2017 7:39:21 AM PDT, Sebastian Reichel <notifications@github.com> wrote:

[2017-09-10 18:06] zhuowei commented on #546
@drebrez I did a rebuild with `pmbootstrap build weston --force -- arch=aarch64` before filing the bug report; it didn't help. Should I try again?

[2017-09-10 18:45] pavelmachek commented on #536
@Martijn : thanks for the hints. Yes, setup-xorg-base command helped,
and got me working display, but no working input. I tried to follow
@craftyguy 's advice and tried to switch to libinput for input.. but
it either did not work or I was not able to do it properly.

[2017-09-10 18:57] craftyguy commented on #520
Ok, these 4 patches are necessary to get you to the point where the modem is initialized, enabled, and (I think) online:

https://lists.ofono.org/pipermail/ofono/2017-September/017463.html
https://lists.ofono.org/pipermail/ofono/2017-September/017465.html
https://lists.ofono.org/pipermail/ofono/2017-September/017483.html
https://lists.ofono.org/pipermail/ofono/2017-September/017500.html

Registrat

[2017-09-10 19:47] zhuowei commented on #545
@ollieparanoid Ubuntu 14.04.3. I'm not sure why: this happened when I was messing with serving the root FS via NFS.

[2017-09-10 20:12] zhuowei opened #554 "pmbootstrap should automatically check for required kernel config options"
After running `pmbootstrap menuconfig`, it may be helpful to check if the kernel configs (e.g. devfs, vt) required to boot postmarketOS are enabled correctly. We may be able to borrow [Ubuntu Touch's script](https://github.com/janimo/phablet-porting-scripts/blob/master/kernel/check-config).

[2017-09-10 20:56] zhuowei commented on #546
@ollieparanoid I'm getting a different error after cherry-picking the weston 3 branch:

[code]
and indeed it's not there:

[code]

Is my build setup screwed up?

[2017-09-10 23:24] montvid commented on #91
I can test a mainline kernel on Nexus 7 2013 if someone gives me the binaries. I am trying to build the linaro build now.

[2017-09-10 23:35] zhuowei commented on #546
Ah. Found the issue: if a symlink is in a .tar file, abuild-tar would call write with a null data pointer and zero length, and [QEMU incorrectly returns an error](https://bugs.launchpad.net/qemu/+bug/1716292). I guess no-one else is running into this because this would work fine if the symlink is the last file that is added when tar runs, but on my system the symlink is added first.

[2017-09-10 23:38] drebrez commented on #375
@yuvadm can you try with a patch like this https://github.com/postmarketOS/pmbootstrap/blob/master/aports/device/linux-huawei-y530/05_fix_mdp3_ctrl_off.patch?
The problems seems like the one I had with the huawei and that patch fixed it.
Please share the full kernel log if it doesn't work, maybe I can help.

[2017-09-10 23:57] drebrez commented on #121
@PabloCastellano tried with weston 3.0.0 but weston-terminal still doesn't work in windowed mode

[2017-09-11 05:42] PureTryOut commented on #499
@craftyguy commented:

I'm not entirely sure what to do. I agree with OP that we should not have users reinstall `postmarketos-ui-*` for a change in a device package, but at the same time this approach would indeed override user customized preferences. I could maybe make the device specific files `/etc/xdg/weston/weston.ini.device` instead, and check if a regular `/etc/xdg/weston/weston.ini` (prov

[2017-09-11 06:52] yuvadm commented on #375
@drebrez wow, this is the first progress I've had so far! The screen actually shows something instead of just flickering once. This is the current splash screen:

![photo5886487700234676767](https://user-images.githubusercontent.com/315080/30261765-c28df28e-96d6-11e7-971a-fd031704a810.jpg)

I'm currently using both the `mdp3-ctrl-off` patch as well as the `fb-refresh-rate` patch. Any ideas?

[2017-09-11 07:40] drebrez commented on #375
@yuvadm yes, I had the exactly same output, it's an issue with the bits_per_pixel value, I fixed with this patch (https://github.com/postmarketOS/pmbootstrap/blob/master/aports/device/linux-huawei-y530/06_fix_mdss_fb_rgb_mode.patch)

[2017-09-11 08:06] MartijnBraam commented on #35
Hmm I found the error, the code works fine but the deviceinfo offsets were wrong. Should've checked first.

[2017-09-11 08:10] yuvadm commented on #375
Sweet! Will be able to test this later today. Thanks for the great suggestions :)

[2017-09-11 09:01] drebrez commented on #375
@yuvadm i've spent various hours debugging that mdss driver, I'm really happy to see that it was worth it and we are getting other devices working 😊

[2017-09-11 15:47] craftyguy commented on #520
Made some good progress yesterday! I was able to use 5e4ce76bba92 that sre mentioned to successfully send a SMS message from the N900. GPRS is 'up' but I cannot ping anything and dns doesn't work, but I have an IP assigned.

I'll now begin the long process of doing git bisect between this commit and the latest..

[2017-09-11 16:02] ollieparanoid commented on #499
@craftyguy is right, it would be bad if we overwrote a configuration file modified by the user. However, files in `/etc/` do *not* get overridden by `apk` (and as far as I know there is no other package manager that does this either, `pacman` makes `.pacnew` files for example).

**Example:** `postmarketos-base` ships `/etc/udev/rules.d/50-firmware.rules`, let's override it and then install `postma

[2017-09-11 16:09] ollieparanoid commented on #554
Great idea, I'm also in favor of doing that!

For the implementation however, I recommend doing it in pmbootstrap's Python code. Then it would be faster than with starting an extra process, and it would be better integrated. One example how it could be done:

* New function `check(args, details=False)` in `pmb/parse/kconfig.py`
* When that function gets called with `details=False`, it does all che

[2017-09-11 16:11] ollieparanoid commented on #546
Wow, thank you for figuring this out and reporting it upstream. It must have taken you a very long time to debug this, I appreciate it very much!

Note: `pmbootstrap` is able to compare package contents, in order to check if both contain the same binaries. This might be helpful in debugging such an issue in the future - you could compare your build with a build from another PC for example (`pmboot

[2017-09-11 16:24] craftyguy commented on #499
Does apk create "apknew" or some such files similar to pacnew in pacman?

[2017-09-11 16:28] craftyguy commented on #499
@PureTryOut & @ollieparanoid

In addition...

What if I don't use weston at all, why is there a weston.ini created on disk now? Is this going to be expected for all DEs, compositors, and other applications that people want to run in pmOS, where each one needing device-specific config will now require device packages to install config files on disk even if the SW needing it is not installed on the

[2017-09-11 16:37] craftyguy commented on #499
Oh, one other bit:

@ollieparanoid if what you say is true (and I believe you :smile: ), then this PR does not address OP's request entirely since the device packages would not overwrite / apply *any* changes to weston.ini on reinstallation since the file already exists on disk from the first installation, if a user made changes to it since then. We should expect users to be making changes to west

[2017-09-11 16:59] ollieparanoid commented on #499
Not that I am aware of.

Yep, that would be the case with the new solution. But these config files are small, and we also configure wifi (or at later points maybe hardware that is less essential), even if the user may not use it. I don't like this aspect either, but I prefer it to duplicating everything in the deviceinfo file, and then generating the config.

True! But at least then it is how it w

[2017-09-11 17:01] ollieparanoid commented on #520
Woo! That is some major progress, big congratulations \o/

[2017-09-11 17:06] craftyguy commented on #499
I see your point.

Heres a new idea: Is there a way to implement conf.d -style configuration for weston? I don't think weston supports this, so something like this would need to be created:

(filenames/paths made up, better names can be chosed, just focus on the flow for now :) )

1) pick a directory for conf files (e.g. `/etc/weston/conf.d/`)

2) device package install a `device.ini` to this dire

[2017-09-11 17:11] ollieparanoid commented on #499
Honestly, that sounds even more complicated to me (as in: additional code necessary for the hook), I would rather keep duplicate stuff in the deviceinfo before we do that. But I do not have the grand solution here either.

[2017-09-11 17:21] craftyguy commented on #499
So it sounds like there are two things here:

1) My interpretation of OP's request: device packages should be allowed to modify weston.ini to enable new features, but the packages should not overwrite anything the user customized in weston.ini

2) Device packages shouldn't be installing config files for arbitrary software that users are not likely to have installed

For #1, you're going to need so

[2017-09-11 18:54] ollieparanoid commented on #91
@montvid, the nexus 7 2013 will very likely not work out of the box and no one has customized our `linux-postmarketos` package for it yet. However, I invite you to familiarize yourself with `pmbootstrap` and try it out for yourself. So if you have some time and want to learn something new: Start with the [porting guide](https://wiki.postmarketos.org/wiki/Porting_guide) and a known working Android

[2017-09-11 19:04] yuvadm commented on #375
@drebrez IT'S ALIVE!! 🎉

[2017-09-11 19:04] ollieparanoid commented on #499
Completely agree with 2. - and for 1. I'd also like to have a conf.d-style folder for weston. But the point is, that upstream (weston) doesn't ship it that way, so we would need to roll our own stuff. *Maybe I am seeing the complexity as too dramatic though*, after all we can implement it in `postmarketos-ui-weston` and don't need to patch `weston` for that, which is a really good sign. I'll give

[2017-09-11 19:22] BrianOtto commented on #551
I didn't realize you could resize the image after it had been created. This solution sounds good to me!

I can take a shot at making the changes. The `--image-size` name make sense too, but I'll post here if any other ideas come up.

[2017-09-11 19:31] drebrez commented on #375
🌟 💥 Hurray! 💥 🌟

[2017-09-11 19:54] pavelmachek commented on #520
Congratulations :-).

I use this code in connection setup:

def property_changed(name, value, path, interface):
    	...
        if iface == "ConnectionContext" and name == "Settings":
            interface = str(value["Interface"])
            addr = str(value["Address"])
            DNS = value["DomainNameServers"]
            print("Connected to the internet, my IP address is "+addr+".")

[2017-09-11 20:58] yuvadm commented on #121
I have this problem on the Flame, getting `wl_display@1: error 0: invalid object 0`

[2017-09-11 21:03] ollieparanoid commented on #121
To go forward with this issue, we could figure out how to get a trace where it is failing, and then either figure a patch out ourselves (and upstream that!) or ask weston upstream for help.

[2017-09-12 04:58] zhuowei opened #562 ""AttributeError: 'module' object has no attribute 'scandir'" when running zap -m on Ubuntu 14.04"
Here's the log: Ubuntu 14.04.5, Python 3.4.3, `./pmbootstrap.py zap -m`

[code]

It looks like scandir was [introduced in Python 3.5](https://github.com/benhoyt/scandir) - should we include a local copy for the few people still using 14.04?

Replacing the scandir with a listdir seems to fix this, by the way.

[code]

[2017-09-12 06:44] craftyguy commented on #520
I have no idea why master branch was failing earlier, but it seems to be working now with just one patch applied. The one patch is a combo of three of the previous 4 mentioned, the last one listed previously was merged this morning.

I successfully enabled gprs (using GSM) and have successfully brought up the data connection, including DNS resolution (thank @pavelmachek for the hint on setting def

[2017-09-12 08:09] kskarthik commented on #375
@yuvadm wow 😀 congrats !

[2017-09-12 13:59] yuvadm commented on #562
@zhuowei Indeed, we only support Python 3.4+ Can you open a PR with this fix? Thanks!

[2017-09-12 23:21] drebrez commented on #554
I'm also interested in this because I always forget about what to enable when starting with a new config.
I suggest we first start identifying all the required configs.
It would be good to have a dedicated page in the wiki also (here an example: https://wiki.gentoo.org/wiki/Systemd#Kernel).

[2017-09-12 23:39] zhuowei commented on #554
@drebrez There is a page for this: https://wiki.postmarketos.org/wiki/Kernel_configuration

[2017-09-13 00:31] drebrez commented on #554
@zhuowei lol 🤣, I missed it completely. Thanks for let me know 😉

[2017-09-13 03:47] craftyguy commented on #520
Instructions for reproducing my progress thus far are on the wiki now: https://wiki.postmarketos.org/wiki/Nokia_N900_(nokia-rx51)#GPRS_.2F_SMS

I have also created a PR to set up ofono 1.20 and the N900 with everything necessary to get to this stage (#567)

[2017-09-13 07:58] BrianOtto commented on #551
PR #568 has been created, tested and confirmed working on my setup.

[2017-09-13 13:02] drebrez commented on #88
@PabloCastellano are you still working on this? i'm also interested to have it, and your PoC looks very promising

[2017-09-13 13:04] drebrez commented on #109
@ata2001 any plan for supporting the isorec devices?

[2017-09-13 13:08] drebrez commented on #121
weston-terminal also added a `-m` argument which starts the window maximized. Tested it on weston 3.0.0 and both (fullscreen and maximized window) works. I tried debugging it with gdb but without success, didn't managed to understand where the issue is.
I will probably try again adding some additional logging in the source code.

[2017-09-13 13:50] pavelmachek opened #570 "[rx51] real time clock problems"
As soon as you remove battery, RTC loses time. Unfortunately, I remove batteries all the time during development. Wrong time and/or time going backwards does bad stuff to unix system: git clone fails to work due to expired certificates, make fails to rebuild binaries, etc.

I re-built pmOS image, and system booted with date in 1970, even through /etc/passwd had todays date. We can do better.

I'm

[2017-09-13 14:35] drebrez commented on #126
@PabloCastellano you can try some of these kernel options to reduce the size => http://elinux.org/Kernel_Size_Tuning_Guide#Kernel_Configuration_Options

[2017-09-13 14:38] drebrez commented on #182
@MartijnBraam The last device I ported, huawei y530, I didn't added the WL_CALIBRATION and worked fine. I will try to remove it also from my other device and see if they work fine 👍

[2017-09-13 14:40] drebrez commented on #199
@craftyguy @PabloCastellano @ollieparanoid now that we have weston 3.0.0 we should try to make it work without root.

[2017-09-13 14:49] craftyguy commented on #199
Can you built Weston-launcher now? I think that suid utility is the only was to run it as a regular user.

On September 13, 2017 7:40:12 AM PDT, drebrez <notifications@github.com> wrote:

[2017-09-13 15:38] drebrez commented on #322
@VictorNine @aairey  can you test it again with the latest changes, weston has been updated to version 3.0.0 now.

[2017-09-13 15:46] drebrez commented on #487
@ollieparanoid I can work on it, shouldn't be that hard to add it.
From what I understand we have to include the `postmarketos-mkinitfs` version in both `initramfs` and `initramfs-extra` and check if they match. In case they differ we show the splashscreen.
Do you think it's a good solution?

[2017-09-13 15:55] drebrez commented on #199
@craftyguy I didn't built anything, weston-launcher was already present in 3.0.0, I think thanks to @PabloCastellano 's patch

[2017-09-13 16:17] ollieparanoid commented on #499
I have been playing through how I would implement it in my head.

### 1. Conf.d

This is what you @craftyguy proposed above, but with recommendations for a few more implementation details.

[code]

When we start weston (as configured in `postmarketos-ui-weston`), we would merge these config files into one and store it somewhere in /tmp/, then start weston with that config.

In order to do that, we

[2017-09-13 16:17] ollieparanoid commented on #499
### Conclusion

Here are the options we have listed in this thread, and I would like to put it to a **vote** (so we can either merge @PureTryOut's PR soon, or collectively decide that we want to do it another way).

1. Generate the weston.ini from the deviceinfo file
2. Include the weston.ini in the device-* packages
* config tarball:
** a) yes
** b) no
* config files:
** c) weston.ini (from devic

[2017-09-13 16:25] craftyguy commented on #199
Ah, nice! In that case, probably just a matter of someone trying to use it to start weston as `user` :)

[2017-09-13 16:29] ollieparanoid commented on #499
Uh sorry that this was unclear, I meant voting with: `1.` or `2. (a || b), (c || d || e)`
...so could you add a) or b) to your vote, depending on if you like the tarballs thing or not?

[2017-09-13 16:36] craftyguy commented on #499
Oh, yea that voting structure was a little unclear :)

1. b) e)

Or in natural language: device-specific weston.ini should be generated by the `postmarketos-ui-weston` package based on config in deviceinfo (and only if user selects to install this package/weston), and placed into a separate conf file in `/etc/xdg/conf.d` from user and base conf files.
Based on my understanding of the other options

[2017-09-13 17:50] #484 closed

[2017-09-13 18:56] bhuvi8 opened #572 "Building linux-samsung-i9100 fails due to checksum mismatch issue"
Checksum for linux kernel linux-samsung-i9100-349a3e91e76d17e67ef6213e1f6712e700695631.tar.gz in file aports/device/linux-samsung-i9100/APKBUILD is given as
1cfaabb03669854037312d708731396ffd4592771fdb01d3b652c6ff7ebc05eebd7a93e7634595148d420e781262a369206008a9f1ed62bdb1a7738b2baa8fa2  linux-samsung-i9100-349a3e91e76d17e67ef6213e1f6712e700695631.tar.gz

whereas the correct checksum is
285ffd2c82d0

[2017-09-13 19:03] bhuvi8 commented on #572
This checksum value was modified in commit 6a5a57c4bc7aed8fb7ea19ead7d8cab0e2026056 when changing the linux kernel source format from .zip to .tar.gz

Need someone to verify 285ffd2c82d0444b99da583573d19443b73de22d7382aae54413af229a28bebf4ea32ecbe248ae54ae64bbbc0af7d722b1ef86d5dd099e2990dcc6284fb195fa is indeed the correct checksum.

I will create a pull request for it in the mean time.

[2017-09-13 19:20] #520 closed

[2017-09-13 19:25] #562 closed

[2017-09-13 19:40] #572 closed

[2017-09-13 19:46] #375 closed

[2017-09-13 20:20] ollieparanoid opened #574 "[nokia-rx51] implement encrypted SWAP"
I've read through the `fstab` yesterday and noticed, that the N900 has an unencrypted swap.
In my opinion, we should have encrypted swap by default, and if someone has this use case, make it optional to turn it off (maybe along with the `--no-fde` option?)

[2017-09-13 21:48] craftyguy commented on #570
This could very simply be a patch to [postmarketos-base.post-install](https://github.com/postmarketOS/pmbootstrap/blob/master/aports/main/postmarketos-base/postmarketos-base.post-install) to just run `rc-update add ntpd default` and then prompt the user during `pmbootstrap init` to select a timezone (which postmarketos-base.post-install can install via symlink to /etc/localtime or use the relevant

[2017-09-13 21:54] pavelmachek commented on #570
ntpd is nice (and please add it), but will not prevent time going
backwards when network is not available.

make is very unhappy when that happens.

[2017-09-13 21:55] craftyguy commented on #574
Interesting idea, I like it and this should be possible to implement.

One initial concern is that if we use the N900's swap partition for this, then we may break Maemo since it also uses that swap partition. We *could* just ignore the n900's swap partition and use one on the SD card I guess.

[2017-09-13 21:58] pavelmachek commented on #213
I see same behaviour as @craftyguy . Debian running on PC.

[2017-09-13 22:07] craftyguy commented on #570
Just to clarify, the only time that the rtc is reset on board is if battery power is removed, time will not revert to 1970 just because the inet connection is unavailable.

There's really only one use case I can think of where using ntpd is not going to help, and that's where all of the following events and conditions are true:

- battery has been pulled/replaced

- device booted and inet is unava

[2017-09-13 22:13] craftyguy opened #575 "[rx-51] gps3 driver segfault"
Reported by @pavelmachek in chat, when running gps3 [1], he experiences a segfault.

gps3 is required to provide an interface between the n900's gps hardware and the gpsd daemon.

When this issue is resolved, we should also package gps3 in pmOS (and upstream it to Alpine)

1. http://luke.dashjr.org/tmp/code/gps3.c

[2017-09-13 22:16] craftyguy commented on #178
Closed via c85c15adfcdc716e30e042314db75b659b3cdb4c. Other devices can use this commit as an example for implementing similar functionality

[2017-09-13 22:16] #178 closed

[2017-09-13 22:16] pavelmachek commented on #570
No, make would not complain.. because with proposed script, time will
never go backwards.

I have two batteries for N900. When one of them runs empty, I swap
them. So swapping usually happens at some remote place (no WIFI). GPRS
is only started on request...

Yes, ntpd si good idea, but no, it does not solve everything, and
allows time to go backwards.

[2017-09-13 22:17] craftyguy commented on #570
I don't understand how your script prevents time from going backwards. Sure, it doesn't go back to 1970, but it does restore the date/time to the date/time when you shut off the device. That can be minutes backward in time, or hours, or days, or weeks (depending on how long it has been since the device was shut off)

[2017-09-13 22:23] craftyguy commented on #574
Or, alternatively, we can use a swap file in rootfs. This way, unless a user specifies `--no-fde`, the swap file will automatically be encrypted when the rootfs is encrypted.

This method would be portable to any device running pmos. For the N900, we can just ignore the onboard flash device with it's swap partition and just use a file in rootfs.

[2017-09-14 08:36] pavelmachek commented on #570
Ok, so current situation is: date says 190, then 193, then poweroff, battery removed, then date says 2 then 5, poweroff, battery removed, then 4 then 6. RIght? So if you have files with mtime of 3 and 4, you don't know which one is newer, and that's a problem.

With proposed script, date say 190, then 193,  then poweroff, battery removed, then date says 194 then 197, then poweroff, battery removed

[2017-09-14 10:28] PureTryOut commented on #499
I'd say 2. b) e)

[2017-09-14 15:34] Asara opened #581 "[i9300] Unable to use heimdall to flash the pmOS image to my phone"
[log.txt](https://github.com/postmarketOS/pmbootstrap/files/1303566/log.txt)
Hey all, attempting to port pmOS to the Samsung Galaxy S3 (i9300).

I am attaching the full output of my pmbootstrap log.txt.  If there is any other info I can provide, I will gladly do so.

Heimdall gets to 8%, regardless of using heimdall directly (after an export) or via pmbootstrap flasher.

Thanks all!

[2017-09-14 18:46] ollieparanoid commented on #574
I think a swap *file* on the sd-card would be slower than using the existing partition. Maybe someone who has access to maemo could try if the shared partition would work?

According to [that page](https://wiki.gentoo.org/wiki/User:Fearedbliss/Installing_Gentoo_Linux_On_ZFS_Notes#Edit_.2Fetc.2Fconf.d.2Fdmcrypt_.28openrc.29), to encrypt the swap we would write the following to `/etc/conf.d/dmcrypt`

[2017-09-14 18:48] ollieparanoid commented on #487
Yep, that sounds good! \o/

[2017-09-14 18:57] ollieparanoid commented on #570
I think @pavelmachek's workaround is suitable for the problem he (and possibly others in the future) face with development.

@craftyguy: could we agree on, that while this may be only for a specific use case, it **doesn't make the situation worse** and therefore there is no problem implementing it?

[2017-09-14 19:11] ollieparanoid commented on #581
**Recommended read: https://wiki.postmarketos.org/wiki/Deviceinfo_flash_methods#Odin_mode**

I assume, that you ran into these problems while flashing the system partition?

The Heimdall developers have reverse engineered the proprietary Odin protocol. It is known that it doesn't work perfectly for all devices. You could try to get this resolved upstream by either finding an appropriate, [existing

[2017-09-14 19:14] ollieparanoid commented on #575
Regarding `gps3.c`, I recommend that we fork that and put it somewhere in GitHub, `/tmp/code/` doesn't look suitable for maintenance.

[2017-09-14 19:16] ollieparanoid commented on #213
*I have read, that the maemo guys recommend to file down the usb cables, so they can't rip out the usb port.*

[2017-09-14 19:22] craftyguy commented on #574
Why would it be slower? If anything, the SD cards today are much faster (or at least more resilient) than the older built-in flash memory on the N900.

This method of using a file swap is:

1) portable to other devices, so we can actually have one set of logic in postmarketos-base that is device-agnostic for setting up swap

2) allows for easy resizing per device or user preference without requiri

[2017-09-14 20:08] ollieparanoid commented on #574
I would be interested in benchmarks actually. I thought the internal storage might be on a faster bus than the sdcard bus. About the swapon - I assume, that the type=swap is left intact when you configure it as swap device in your mtab. But I could be wrong with both my assumptions here and the swap file solution also sounds good!

Thanks for your insights! 👍

[2017-09-14 20:15] craftyguy commented on #575
Yes, my intention is to fork it, but since this is pretty far on my list the only thing I could do for now is include a pointer to it so I don't forget where it came from later :)

[2017-09-14 20:20] craftyguy commented on #574
Good point about type=swap, I don't know what that does.. maybe it just runs 'swapon' after unlocking or something since it's not in fstab anymore?

On the N900, the swap partition is on a "MMC" device, which is also the same device type as the external sd card.

I can do a benchmark later on to provide some data supporting or destroying my theory. Even if performance is less (as long as it's not

[2017-09-14 20:28] craftyguy commented on #213
Haha! well, I just leave the microusb cable plugged into the N900 and just unplug/replug the usb connector to my main system. It works, but it's annoying because sometimes I reboot and forget to do it and have to spend a few minutes rebooting again.

This problem is really strange though, I get *no* kernel events at all on the host system when the n900 reboots.. so I'm starting to wonder if it has

[2017-09-14 20:30] ollieparanoid commented on #499
@kaniini wrote another alternative in the chat:

*NOTE: We'll probably need to adjust pmbootstrap to handle `install_if` correctly.*

[2017-09-14 20:39] ollieparanoid commented on #213
You could try other cables and other PCs, maybe you get different results then.

[2017-09-14 20:42] craftyguy commented on #213
I tried that experiment initially, my laptop running Arch shows the same thing :(

[2017-09-14 21:08] craftyguy commented on #499
@ollieparanoid

after talking to @kaniini on chat, I think the `install_if` way is the way to go.

We break the "only one package per device" philosophy though, but I'm OK with that if we have a sane way to distribute device-specific configurations, if any are required, without having to account for them all in one monolithic device package that would install everything all the time :)

[2017-09-15 03:56] craftyguy commented on #570
@ollieparanoid yea, after @pavelmachek explained it, it makes more sense now. This is a rx51-specific issue (I will change title back), and I can submit a separate PR for enabling ntpd at boot time, though will need to think about how to handle prompting for timezone.. maybe in `pmbootstrap init`?

[2017-09-15 04:01] craftyguy commented on #570
I think the best way to implement this is to:

1) Create a script (modeled after what pavel has here) that the device-nokia-rx51 installs

2) create an init script that is installed in the 'default' and 'shutdown' runlevels by the `device-nokia-rx51.post-install` script, to call the script in (1)

[2017-09-15 04:39] craftyguy commented on #574
Here's some performance data using `dd`. `/dev/mmcblk1p3` is the N900's swap partition, and `/swap` was a file on the rootfs (ext4). No encryption was enabled, but presumably that wouldn't matter if both rootfs and swap were using the same encryption (because why wouldn't they be? :P)

The file writes of 100MB were about 2 seconds faster than the same size writes to the N900's swap partition.

Par

[2017-09-15 14:32] pavelmachek commented on #213
I don't see that problem with my local kernels. I pushed one of them
to kernel.org:pub/scm/linux/kernel/git/pavel/linux-n900.git bt-v4.13 ,
and sent relevant extract over email to @craftyguy.

[2017-09-15 15:09] craftyguy commented on #213
@pavelmachek

Unfortunately your patch doesn't seem to have any effect..

The steps to reproduce this problem are:

1) Power on N900, connect it to system via usb

2) log into N900 over usb net, and issue a `reboot`

3) leave device plugged in while it reboots

4) after it finishes booting, notice that there is no longer an interface available on the host for connecting to it. the `usb0` interface

[2017-09-15 16:48] ata2001 commented on #109
@drebrez I will do it, but testing it on real samsung devices would be a really big help.

[2017-09-15 16:55] drebrez commented on #109
@ata2001 ok, ping me in chat if you need some info about this "isorec" style and let me know when you have something I can test 👍

[2017-09-15 17:20] ata2001 commented on #554
Is it safe, to rely on `# CONFIG_XXXX is not set` comments for determining, which option is enabled?

[2017-09-15 17:22] zhuowei commented on #554
@ata2001 The Ubuntu script throws an error if one of the required options isn't set, so I guess not?

[2017-09-15 17:33] ata2001 commented on #554
@zhuowei That means it is set to no I believe, the ubuntu script checks if it's either y or m.

[2017-09-15 17:36] ata2001 commented on #554
@ollieparanoid I don't know, whether we should design it with non-boolean config options in mind. We don't have any yet, but we may need it in the future.

[2017-09-15 17:49] ata2001 commented on #554
@ollieparanoid what?

[2017-09-15 17:52] ollieparanoid commented on #574
Thanks for making the benchmarks, they really show that writing to a swap file would be faster.
I also like your argument with making it consistent for all devices by using a swap file.
So now I would prefer that solution too 👍

[2017-09-15 17:57] ata2001 commented on #554
@ollieparanoid I mean your response wasn't clear for me. You've meant we should make it support config options with string and number values?

In my draft I used a tuple with two elements to represent a config option. The first element is the name of the config option, second is the value, which is `bool` type, if the option should be set or unset, `string` if string, `int` if interger.

For examp

[2017-09-15 18:02] ollieparanoid commented on #570
I like the way you would implement it!

A few notes regarding ntpd:
* If we set the hardware clock to UTC/GMT instead of the localtime, we don't need to know the time zone beforehand (it will get calculated based on the UTC time then) ([more info](https://wiki.archlinux.org/index.php/Time#Time_standard))
* Although that might not be obvious, we should take extra care choosing a suitable `ntpd`, *e

[2017-09-15 18:03] ata2001 commented on #554
The ubuntu script has two arrays for options, one for those, that should be enabled, one for those, that shouldn't be set.

If we can make sure, we won't need any string or integer options, we could do the same.

[2017-09-15 18:07] ollieparanoid commented on #499
@PureTryOut, do you see it the same way?

[2017-09-15 18:11] craftyguy commented on #574
😄 Ok so I have some more questions for us to discuss regarding how to implement this.

1) When should the file be created, (a) on boot, (b) during `pmbootstrap install`, or (c) some other time?

2) How is swap file size set? Some ideas: (a) during `pmbootstrap init`, (b) in the deviceinfo file for each device, (c) in a new config file `/etc/conf.d/swap_file` (for option 1a above)

For 1a this woul

[2017-09-15 18:12] ollieparanoid commented on #554
@ata2001: I meant: designing it with non-boolean options in mind is a good idea. I can't say for sure, that we will never need string or integer options.

But we can also do it like in your draft and extend it on demand - especially if that makes the code cleaner for now.

[2017-09-15 18:26] ollieparanoid commented on #574
Great write up!

I would prefer `1. a)` (create the file during boot with a service) and a combination of all the options for 2., so let's say `2. d)`:
* The `deviceinfo` file holds a *recommended* swap file size (because for more modern phones you won't need swap at all, and you could make great use of extra 768 MB flash space.)
* You get asked during `pmbootstrap init` how big the swap size shou

[2017-09-15 21:54] ollieparanoid opened #584 "Package msm framebuffer refresher"
@drebrez found this:
https://github.com/AsteroidOS/msm-fb-refresher

Some context: we have noticed, that some framebuffer drivers from Android kernels only implement double-buffering, but not single-buffering. weston, fbsplash and probably a lot of other Linux programs assume, that the single-buffering is working.

Right now we have a `while true` shell-script, that forces the refresh all the time

[2017-09-15 22:59] ollieparanoid commented on #411
@drebrez asked me to create a bunch of checkboxes for an initial version, that caches the splashes and assign him to this ticket.

**TODO (cache splashes):**
- [ ] Write new splash screens to this path first: `/var/cache/postmarketos-mkinitfs/splashes/splash_$hash.ppm.gz` (quickly made up file name, please reconsider if that really makes sense). $hash would be a hash of the postmarketos-splash ver

[2017-09-16 01:23] craftyguy opened #588 "Choose & set up a NTP client"
From @ollieparanoid in https://github.com/postmarketOS/pmbootstrap/issues/570#issuecomment-329855915:

[2017-09-16 01:35] craftyguy commented on #575
There is no license information at the link I posted, so I have contacted the individual who posted it. I suppose there's a change this is not being distributed with a compatible license, in which case we'll be stuck. I will report back if/when I get a response from them.

[2017-09-16 05:20] luke-jr commented on #575
(Confirming)

[2017-09-16 05:27] PureTryOut commented on #499
Well, it'd be off our goal of one device specific package, but yeah I guess. If that really makes it only install if Weston is specified to be installed by the user that is.

[2017-09-16 10:10] ollieparanoid commented on #499
I'm glad that we found a solution we can agree on!

Also while we will have multiple packages, the good news is, that we could still have it all in one `aport` with subpackages. Something like that:
[code]

This looks pretty clean if you ask me. Let's make a TODO list:
- [ ] Modify one device package to look like the above
- [ ] Check if it works as expected, adjust `pmbootstrap` code if necessary

[2017-09-16 14:43] ata2001 commented on #554
Created PR: #589

[2017-09-16 20:43] pavelmachek opened #590 "gcc -E problems"
I have some vala programs to control ofono. Build system needs C preprocessor; unfortunately, that does not work.

(On Nokia N900; I don't think that's important).

localhost:/my/tui$ sudo apk add gcc
...
OK: 904 MiB in 249 packages
localhost:/tmp$ > delme.C
localhost:/tmp$ gcc -E delme.C
gcc: error trying to exec 'cc1plus': execvp: No such file or directory

[2017-09-16 20:50] anned20 opened #591 "Device reboots after exactly 240s"
Device: Samsung Galaxy Note Pro 12.2 (SM-P900) codename: v1awifi

Device reboots after exactly 240s, no matter what. Nothing interesting in `dmesg`, couldn't try out `syslog` just yet.

@ata2001 helped me get this far, but it's quite annoying to reconnect once in every 240s

[2017-09-16 21:05] pavelmachek commented on #590
sudo apk add g++
fixes the problem.

[2017-09-16 21:17] pavelmachek commented on #591
Sounds like some kind of watchdog to me. Perhaps you need to enable something in kernel config and/or run a daemon that indicates userland is alive every 230 seconds or so.

[2017-09-17 00:53] Pneumaticat commented on #513
Actually, I think at least _some_ chipsets have been patched -- https://github.com/seemoo-lab/nexmon/tree/master/patches/bcm4339/6_37_34_43/anti_broadpwn for example has a patchset that tries to fix it. It calls it a first try, and I'm not familiar with the details of the exploit, but it might be worth having.

Nexmon as a whole also has some pretty sweet monitor mode patches which could be fun if

[2017-09-17 00:57] Pneumaticat opened #592 "Package nexmon -- Broadcom firmware patches to fix broadpwn and enable monitor mode"
As mentioned in #513.

Repository is [here](https://github.com/seemoo-lab/nexmon).

Build instructions are only for Ubuntu/Raspberry Pi, and appear to require some 32-bit libraries that Alpine does not package.

I can think of three options, none of which are particularly fun:

1. Package and maintain the required 32-bit libraries.
2. Build firmware binaries and package them as blobs. (Not ideal f

[2017-09-17 13:47] zhuowei commented on #591
Anything in /proc/last_kmsg after a reboot?

[2017-09-17 16:33] anned20 commented on #591
This is in /proc/last_kmsg.

Kernel panic, but I don't know what caused it.

[code]

[2017-09-17 17:31] zhenyolka opened #593 "Make modules error."
I try compile kernel today.
Kernel compile success, but I get error at start compiling modules.
"The present kernel configuration has module disabled.
Then build a kernel with module support enabled".
I try enable CONFIG_modules with menuconfig, but I get error.

[2017-09-17 17:56] pavelmachek commented on #591
Try to find out which tasks are hung. They should be in "D" state, not usual "S" state.

Alternativelly... Can you just disable khungtaskd in kernel config? :-)

[2017-09-17 19:02] anned20 commented on #591
I solved this issue by changing the governor to ondemand. The high load also got down to  around 1.5

[2017-09-17 19:03] #591 closed

[2017-09-18 18:46] #35 closed

[2017-09-18 18:47] ollieparanoid commented on #590
Glad you've figured out and thanks for posting the solution!

[2017-09-18 18:47] #590 closed

[2017-09-18 18:50] ollieparanoid commented on #592
From looking at the source: When using Nexmon as described in their `README.md`, you would use a few programs/libraries, that are not built from source, but contained as binaries in the git repository. That's where the 32bit library dependencies come from.

So to package it properly, we would build everything, that we don't already have, from source and use our own cross-compiler.

Here are my rec

[2017-09-18 19:01] ollieparanoid commented on #593
Hello @zhenyolka, cool that you have tried out `pmbootstrap`!

Could you please copy-paste the end of `pmbootstrap log` here, after running `pmbootstrap menuconfig` and trying to change the `CONFIG_MODULES` option?

[2017-09-18 21:36] #554 closed

[2017-09-19 02:02] craftyguy commented on #584
Unless I'm missing something, #587 implements the first 4 items on that list. I've updated the pmOS wiki to mention the new deviceinfo var for toggling this (`deviceinfo_msm_refresher`).

[2017-09-19 04:05] craftyguy commented on #588
@ollieparanoid
In Alpine, [openntpd is outdated](https://pkgs.alpinelinux.org/package/edge/main/x86/openntpd)..

[by over a year](https://github.com/openntpd-portable/openntpd-openbsd/releases).

[2017-09-19 16:03] ollieparanoid opened #598 "Let's get the cellular modem working!"
Here is research by @pavelmachek, @craftyguy and @tssk together with some of my own on how to continue with cellular modems in postmarketOS.

### Possible stacks
1. Usual Android stack (for reference):

2. Samsung Androids with rild:

3. Samsung Androids without rild *(dead end)*:

Requires [this](https://lists.ofono.org/pipermail/ofono/2012-September/013766.html) ofono patchset, which only builds

[2017-09-19 16:48] ollieparanoid commented on #588
It sounds like a security concern you're having. However, nothing in the [changelog](https://github.com/openntpd-portable/openntpd-portable/blob/19c9c6ff003bd91c9133997f310d1ccbbbc69aaa/ChangeLog#L28) from `6.0_p1` onwards (didn't check entries before, because that is the version in Alpine) mentiones security fixes. I'm pretty sure, that Alpine devs would have either updated it or added a patch fo

[2017-09-19 17:08] craftyguy commented on #588
Yea I'd also vote for openntpd.

[2017-09-19 17:14] tssk commented on #422
Closing this as there exists working description how to install on i9100 in wiki - https://wiki.postmarketos.org/wiki/Samsung_Galaxy_SII_(samsung-i9100)#Step_by_step_guide_for_Flashing_to_device_memory

[2017-09-19 17:14] #422 closed

[2017-09-19 17:17] craftyguy commented on #598
Just for clarification, the N900 'working' stack is:

I omitted the kernel driver(s) necessary for this, and the custom udev rule for the N900 (already in `device-nokia-rx51` package)

The other bit we need to consider is that front-end frameworks, like connman (and most likely networkmanager/modemmanager) require configuration of the APN in ofono before they'll 'detect' the modem and use it. This

[2017-09-19 21:51] ollieparanoid commented on #429
Upstream discussion on implementing a `--iter-count` parameter in `cryptsetup`:
http://www.saout.de/pipermail/dm-crypt/2017-September/005706.html

[2017-09-20 00:11] craftyguy commented on #126
@PabloCastellano

See if #599 helps reduce the initramfs size for you.

[2017-09-20 00:30] craftyguy commented on #588
Alpine includes some helper scripts that we can probably leverage for this:

`setup-timezone`

and

`setup-ntp -c openntp`.

The last one will install and configure openntpd to start on bootup.

[2017-09-20 01:59] craftyguy commented on #536
I was able to get xfce4 to start reliably, and input is fixed by #600.

The steps I followed to install/run xfce4 are no different than what is in the Alpine wiki:

1) run `sudo setup-xorg-base`

2) run `sudo apk add xfce4`

3) as user, run `startxfce4`

I don't see any reason to add this info to the pmOS wiki since it's not really different than what you would do on Alpine (assuming #600 is merge

[2017-09-20 08:36] phtom opened #601 "Support for Alcatel A5 LED"
Hi!
Alcatel A5 LED is a new super powerful octa-core smartphone! Would it be possible to make a security OS for it? An android rom for it?

[2017-09-20 11:58] pavelmachek commented on #536
Ok, it now works for me. Last time it did not work, and it was not
just the calibration. But it work now, good.

[2017-09-20 14:42] z3ntu commented on #601
Someone would have to port postmarketOS to that device to be supported.

[2017-09-20 16:54] craftyguy commented on #536
Cool! Should this issue be closed now?

[2017-09-20 17:40] zhuowei commented on #598
@ollieparanoid so the `rild` used here will be compiled for Alpine, and wouldn't work at all for proprietary RIL implementations, correct?

I was looking at Qualcomm devices: Ofono can talk to Qualcomm modems via the QMI protocol, but it only supports GobiNet and cdc_wdm, not the shared memory communications used in Snapdragon devices. On Android, a daemon named qmuxd talks to the modem via shared

[2017-09-20 18:24] zhenyolka opened #603 "[lg-l65] Framebuffer does not work"
Hello! I port it to lg l65.
After boot phone i get only black screen.
I try dd if=/dev/urandom of=/dev/fb0 an get this
"dd: writing '/dev/fb0': No space left on device
6001+0 records in
6000+0 records out", but screen not change.
i try "cat modes > mode", not work.
in file /proc/fb this
"0 mdssfb_80000"
and after boot weston start automatically.
weston.log on pastebin.com
https://pastebin.com/XXHM

[2017-09-20 18:32] #574 closed

[2017-09-20 18:38] ollieparanoid commented on #601
A quick research shows, that this is an Android phone. So yes, it should be possible to run something like postmarketOS or a custom Android ROM (we can't do support for that here though).

Please note, that pmOS is in alpha state and you won't be able to use it as daily driver (SMS, phone calls don't work, ...). In case you are interested, check out the [porting guide](https://wiki.postmarketos.or

[2017-09-20 18:38] #601 closed

[2017-09-20 18:50] ollieparanoid commented on #603
I didn't understand what does not work, which one is it?
a) Weston *does* work, splash screens during boot *do not* work
b) Weston *and* splash screens do not work

Check out the new [Troubleshooting:display](https://wiki.postmarketos.org/wiki/Troubleshooting:display) wiki article (thanks @MartijnBraam for writing it all down!).

If that does not help you: In some cases, it helps to start a workin

[2017-09-20 18:57] zhenyolka commented on #603
not work splash screen during boot and weston

[2017-09-20 19:10] ollieparanoid commented on #598
That's my recommendation, yes.

As I understand it, it might work in theory if someone got libhybris compiled for Alpine, and manages to execute the proprietary vendor RIL blob with that libhybris. Or simply by copying the libraries it links against (check with `ldd`). However, then we would have proprietary code running which I would [rather avoid](https://redmine.replicant.us/projects/replicant/

[2017-09-20 19:55] zhuowei commented on #598
@ollieparanoid My preferred stack would be
modem->some sort of reimplemented qmuxd that translates from shared memory directly to cdc-wcm->ofono->whatever, so I'm planning to strace qmuxd later to see what it does. (That's OK, right?)
The kernel panic seems to be caused by the modem not initializing correctly; I was planning to enable debug statements in the Android kernel to see what was going on

[2017-09-20 20:21] z3ntu opened #604 "msm-fb-refresher makes the phone reboot"
Last lines I got from the serial console:
[code]

Commenting the line `deviceinfo_msm_refresher="true"` "fixes" the issue.

[2017-09-20 20:26] z3ntu commented on #604
Complete output from the serial console (I let it reboot a few times)
[screen-pts-4.g550jk-0.log.txt](https://github.com/postmarketOS/pmbootstrap/files/1319137/screen-pts-4.g550jk-0.log.txt)

[2017-09-20 21:03] drebrez commented on #603
@zhenyolka can you share the `dmesg` output?

[2017-09-20 21:09] ollieparanoid commented on #604
Random guess: maybe `msm-fb-refresher` does not get killed correctly at the end of the initramfs, before calling `switch_root`? You could debug this by running `sh` just before `switch_root` and checking via telnet if it is still running, if you want to.

[2017-09-20 21:19] drebrez commented on #604
@z3ntu you mentioned in the PR that you needed the `while cat modes > mode`  to make it work, that's something different I think because the `msm-fb-refresher` does the `while echo 0,0 > pan` more like for [this](https://github.com/postmarketOS/pmbootstrap/blob/master/aports/device/device-lg-lenok/fb_fix.sh#L5-L8) device.
See msm-fb-source code [here](https://github.com/AsteroidOS/msm-fb-refresher

[2017-09-20 21:59] drebrez commented on #604
from the log there is `fbsplash` right after the reboot, so my guess is that `msm-fb-refresher` unlocked somehow the `fbsplash` functionality and the issue is with that, not with the `msm-fb-refresher`.

@z3ntu can you try these steps:

- comment out [these 2 lines in the init_functions.sh](https://github.com/postmarketOS/pmbootstrap/blob/master/aports/main/postmarketos-mkinitfs/init_functions.sh#

[2017-09-21 06:09] z3ntu commented on #604
Starting `msm-fb-refresher --loop` while in weston works and refreshes the screen (as expected).

@drebrez I will try that now

[2017-09-21 06:16] z3ntu commented on #604
[code]

[2017-09-21 06:21] z3ntu commented on #604
git diff:

[code]

[2017-09-21 06:33] z3ntu commented on #604
Okay shell redirection to /dev/fb0 didn't work but I used fbsplash for showing.
[code]

So apparently the kernel doesn't like it when while msm-fb-refresher is running, fbsplash displays a new image

[2017-09-21 07:42] drebrez commented on #604
@z3ntu seems like the first `fbsplash` works and shows the image on the display and the second call to `fbsplash` crashes?

[2017-09-21 07:51] z3ntu commented on #604
Yes

[2017-09-21 08:01] zhenyolka commented on #603
@drebrez dmesg.log https://pastebin.com/qSC1VecB

[2017-09-21 08:54] drebrez commented on #604
can you manually try to kill `msm-fb-refresher` right before calling `fbsplash` and start it right after?
Looking at the fbsplash code, when it open the framebuffer it does some ioctl call ([see here](https://github.com/mozilla-b2g/busybox/blob/master/miscutils/fbsplash.c#L87)) and since also `msm-fb-refresher` is doing stuff they go in conflict?

[2017-09-21 08:58] drebrez commented on #603
@zhenyolka thanks for the log, it seems your device also uses the mdp3 driver.
I suggest trying with [this patch](https://github.com/postmarketOS/pmbootstrap/blob/master/aports/device/linux-huawei-y530/05_fix_mdp3_ctrl_off.patch) or create a your own patch if the line doesn't match ([guide](https://wiki.postmarketos.org/wiki/How_to_create_a_patch_when_packaging_software))

[2017-09-21 10:29] montvid commented on #584
There is another one here: [https://github.com/crondog/arch-flo/blob/master/refresher.c](https://github.com/crondog/arch-flo/blob/master/refresher.c) Is it any better?

[2017-09-21 19:14] ollieparanoid commented on #584
Thanks for the link @montvid! I've compared the code, and while it is different, it is written differently, it is essentially doing the same thing:

[code]
So I assume that it behaves the same way (not tested though).

[2017-09-21 21:44] ollieparanoid commented on #436
@drebrez shows a nice way to shorten the `prepare()` functions in kernel packages by calling `default_prepare`, which we should apply to all other kernel packages (except for `linux-postmarketos`, that works differently) in my opinion:

https://github.com/postmarketOS/pmbootstrap/blob/b7b001119530bd1147988ac3d029e2772306d38b/aports/device/linux-lg-dory/APKBUILD#L50-L58

[2017-09-21 22:28] drebrez commented on #436
@ollieparanoid in [this](https://wiki.alpinelinux.org/wiki/APKBUILD_examples:Simple) example they have `default_prepare || return`, so probably I have to add it for that APKBUILD.
Another thing to use the `builddir` variable, which is the default path used by the default prepare function ([see here](https://wiki.alpinelinux.org/wiki/APKBUILD_Reference#builddir)).
I think it's the default path also

[2017-09-21 22:34] drebrez commented on #436
Another thing is the `build` subfolder used to build inside it, instead for the `linux-lg-dory/APKBUILD` you linked above, I used directly the `builddir` to build.
In one case you get all the compiled files inside the subfolder, in the other, the compiled files are among the sources.
I checked some alpine packages and none of them used a subfolder to build.
Which style has to be followed?

[2017-09-21 22:35] montvid commented on #436
The example does not build my kernel. I needed to add this instead and it worked:
`prepare() {
	default_prepare
	mkdir -p "$srcdir"/build
	cp "$srcdir"/$_config "$srcdir"/build/.config || return 1
	make -C "$ksrcdir" O="$srcdir"/build ARCH="$_carch" HOSTCC="$HOSTCC" \
	silentoldconfig
}`

[2017-09-22 01:24] craftyguy commented on #499
@PureTryOut if you aren't working on this, I'd like to give it a try. I feel like this extra work is pretty much my fault for making a big fuss about the original PR earlier and it seems somewhat unfair to have you implement all of this new stuff if you don't want to.
If you are working on this, just let me know!

[2017-09-22 07:10] zhenyolka commented on #603
@drebrez with you patch i cant boot postmarket os. its stop on bootloader screen. on pc i cant see phone.

[2017-09-22 09:16] montvid commented on #373
I have the same problem with not working wifi in Nexus 7 2013 flo. I will test your suggestions. I found some links that deal with this problem. @PabloCastellano and others thank you for your help fixing it!
Upstream prima firmware:
https://source.codeaurora.org/external/hisense/platform/vendor/qcom-opensource/wlan/prima/tree/firmware_bin?h=8130_CS
SystemD launcher you can hack? :) :
https://git.l

[2017-09-22 10:20] zhenyolka commented on #603
I found same interesting. i check brightness of screen with command "cat /sys/devices/i2c.69/i2c-0/0-0039/backlight/qcom,led-flash/actual_brightness" and get output "0".
if i try "echo 125 > /sys/devices/i2c.69/i2c-0/0-0039/backlight/qcom,led-flash/brightness"
command run success, but if i check actual_brightness file it not change
What do?

[2017-09-22 13:28] montvid commented on #373
Okay so I see that the prima driver is in here:
 https://source.codeaurora.org/external/wlan/prima/tree/
But it is for the android kernel so uses wakelocks. The good news is that wakelocks are included in mainline kernel but under a different name. How would one patch the drivers?

[2017-09-22 15:07] PureTryOut commented on #499
I'm not working on this right now, I'm on holiday, you can give it a shot. 😉

[2017-09-22 15:09] montvid commented on #410
pronto_wlan.ko is pronto driver not prima driver... but they are bundled together.

[2017-09-22 19:06] montvid opened #616 ""./pmbootstrap.py install" does not work anymore"
Please fix package dependencies of pmbootstrap as Alpine does not have x86_64/musl-armhf-1.1.16-r19.apk but upgraded to x86_64/musl-armhf-1.1.16-r20.apk. The installer crashes.

[2017-09-22 20:10] montvid commented on #616
Oh, thanks for the wiki:
https://wiki.postmarketos.org/wiki/Troubleshooting#musl-.2A.2Fbusybox-static-.2A_fails_to_build_with_a_404_error

[2017-09-22 20:10] #616 closed

[2017-09-22 22:07] pavelmachek opened #618 "armhf/gtk+2.0-maemo-2.24.31-r0.apk (needed for hildon-desktop) build fails"
[23:18:02] (buildroot_armhf) install autoconf automake libtool atk-dev cairo-dev intltool libxdamage-dev pango-dev cups-dev expat-dev gdk-pixbuf-dev gnutls-dev gobject-introspection-dev gtk-doc hicolor-icon-theme libice-dev libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxfixes-dev libxrandr-dev libxi-dev
[23:18:26] (buildroot_armhf) build armhf/gtk+2.0-maemo-2.24.31-r0.apk
 [00:01:29]

[2017-09-23 00:54] ollieparanoid commented on #618
The actual error comes from gtk-doc, which [only depends on python2](https://pkgs.alpinelinux.org/package/edge/main/armhf/gtk-doc#collapseDeps), not on `py2-six`. So this is most likely an upstream bug, which we could easily fix.

Does the build work, if you manually install `py2-six` (`pmbootstrap chroot`, then `apk add py2-six`)?

Thanks for your report!

[2017-09-23 01:01] ollieparanoid commented on #603
Did you try the [sysfs tuning](https://wiki.postmarketos.org/wiki/Tuning_sysfs)?

[2017-09-23 01:26] ollieparanoid commented on #436
@drebrez:

I've removed all `|| return` statements from that wiki page, as they are not needed since a few months back (because alpine got updated). It will fail automatically now, when one executed statement fails. So `default_prepare` is enough here.

This variable was introduced into the wiki on 2016-10-18, and it looks like not all packages in Alpine have been adjusted to using it yet. But goo

[2017-09-23 01:43] montvid commented on #373
Okay, so finally after two days of work I found out how to load the wifi drivers for Nexus 7 2013 flo and want to share with you all:

0. See if your kernel has this /drivers/net/wireless/ath/wcn36xx
1. Download upstream wifi firmware WCNSS_cfg.dat, WCNSS_qcom_cfg.ini, WCNSS_qcom_wlan_nv.bin
https://source.codeaurora.org/external/wlan/prima/tree/firmware_bin
2. Download Google/qcom firmware and ex

[2017-09-23 01:45] montvid commented on #373
sha512sums="ec6f014d324047a040c75f1922673021108a40d1b8d5ca53658995c4bd28b07e6ad8dd96560fb9bc82b45dfed7d6db3234ef5d8ec2a5d7246608f2423d023609  wcnss.mdt
5f6b1eff9304980a16eccf77ac201d0920c8562a6996f19e4fe0b8386f8d0ce31aaa745e7bc15e2ffd2ce6104192cd0b891211db6d895d632ed924a797e7d48b  wcnss.b00
a91fc0f8aad8bb4d1664c09ff2203ddccb7f2ed3b49fc0dde4e527d1e864b65f8550bf4fc17120c555482deb3be75a028012e38ec8fa

[2017-09-23 01:46] ollieparanoid commented on #373
@montvid, awesome work! Let us know if you need any help with packaging that for postmarketOS (so it can be installed automatically when selecting the `asus-flo` device)!

[2017-09-23 01:49] montvid commented on #373
Yes I need help but now I am going to sleep.

[2017-09-23 08:17] zhenyolka commented on #603
@ollieparanoid i try sysfs tuning i solve problem on 50%. Screen is on(on boot i run command "echo 1 > /sys/devices/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.134/leds/lcd-backlight/brightness"). Weston start success and postmarketos-demos start success, BUT i see this artifact.
screenshot(screenshot not full, my screen is 480x800 screenshot is 350x350, but all screen look like on screenshot):
ht

[2017-09-23 08:37] pavelmachek commented on #618
I got the same (or similar?) error:

Traceback (most recent call last):
  File "/usr/bin/gtkdoc-rebase", line 28, in <module>
      from gtkdoc import common, config, rebase
        File "/usr/share/gtk-doc/python/gtkdoc/rebase.py", line 28, in
  <module>
      from six import iteritems, iterkeys
      ImportError: No module named six
      make[4]: *** [Makefile:1031: install-data-local] Error 1

[2017-09-23 08:39] zhuowei commented on #91
I tested the mainline kernel support for the Nexus 6P: I was able to build a kernel that boots, but it crashes somewhere when initializing drivers, and I couldn't get a crash log since I don't have a serial adapter. There's a presentation by Jeremy McNicoll about the Nexus 6P upstreaming effort at https://events.linuxfoundation.org/sites/events/files/slides/JRM_NEXUS_ELC_2017.pdf which says that t

[2017-09-23 09:28] ollieparanoid commented on #603
Awesome progress. [Screen output messed up](https://wiki.postmarketos.org/wiki/Troubleshooting:display#Screen_output_messed_up) will probably fix your problem now.

[2017-09-23 09:34] ollieparanoid commented on #618
Yeah, I was quoting the error from your log. Make sure, that it is `py2-six` (with the two), I'm not sure if the `py-six` package will also work.

[2017-09-23 10:25] #551 closed

[2017-09-23 15:26] pavelmachek commented on #618
build of armhf/gtk+2.0-maemo-2.24.31-r0.apk did not work with py2-six
added. I added py-six, too, and... no change, it still fails with same
way.

pmb chroot, python, import six -- seems to work.

[2017-09-23 15:49] zhenyolka commented on #603
@OK. Problem with artifact solved. Im on finish line to end porting to my device. But i have last 2 not solved problem.
1).Screen in my phone rotated physically upside-down, so all image on my screen rotated on 180 degress.
2).Touchscreen in your os not work. Weston.log in file.
Thanks all for postmarketos!
[weston.log](https://github.com/postmarketOS/pmbootstrap/files/1326632/weston.log)

[2017-09-23 16:03] zhenyolka commented on #603
_For touchscreen_
How select driver for touchscreen in weston. My device not support evdev driver, need select mdev driver, i compile mdev driver, but how select it in weston?

[2017-09-23 17:32] pavelmachek opened #621 "hildon-theme-alpha fails to build, because maemo-repos.com is not available"
(031864) [19:28:53] (native) % cd /home/user/build && su user -c 'CARCH=x86_64 abuild -d'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0curl: (6) Could not resolve host: maemo-repos.com

(031864) [19:28:59] ^^

[2017-09-23 21:22] craftyguy commented on #536
Closing issue since X server does work using the instructions I posted previously :)

[2017-09-23 21:22] #536 closed

[2017-09-24 14:05] #621 closed

[2017-09-24 15:17] ollieparanoid commented on #603
That is interesting, we have not seen this before. Could you try to fix this with more sysfs tuning?

Regarding 2). touchscreen: You will need an udev rule with the correct device name, as described in  [Screen Calibration#weston](https://wiki.postmarketos.org/wiki/Screen-Calibration#weston).

I'm happy you made further progress 👍

[2017-09-24 18:19] #618 closed

[2017-09-25 07:08] montvid commented on #373
It seems the upstream codeaurora firmware(the WCNSS_qcom_wlan_nv.bin) does not work with my Nexus 7 2013/flo wifi so I had to extract the files from the rom or download from lineageos flo device repo. I updated the instructions and the SHA512.

[2017-09-25 20:40] zhuowei opened #629 "Package LuneOS user interface"
[LuneOS](https://en.wikipedia.org/wiki/LuneOS) is a continuation of webOS, HP's discontinued and open sourced mobile operating system. Currently they are focusing on [upgrading the user interface](http://webos-ports.org/wiki/Luna_Next) to use modern technologies such as Qt5 and Wayland, which would allow running the LuneOS interface on regular Linux. They provide [build instructions](http://webos-

[2017-09-25 20:46] ollieparanoid commented on #629
Just like we did it in #161 with plasma-mobile, I recommend making a list of all required dependencies first (as a wiki page if there are many), then packaging one after another.

We have the strict package building mode #256 now, which should make it a bit easier (`pmbootstrap build --strict package-name`). Also related: #62

[2017-09-25 22:05] #151 closed

[2017-09-26 02:27] craftyguy opened #630 "[rx51] ofono is unable to symlink gpios to /dev/cmt"
Ofono currently tries to create a directory (`/dev/cmt`) and corresponding symlinks to modem gpios if they do not exist: https://git.kernel.org/pub/scm/network/ofono/ofono.git/tree/plugins/nokia-gpio.c#n660

This prevents the existing udev rule in the `device-nokia-rx51` package from successfully creating a symlink. I *could* just call `rmdir /dev/cmt` in the udev rule before trying to symlink, bu

[2017-09-26 06:07] zhenyolka opened #631 "[BUG] TWRP/CWM flashable zip not work."
I make flashable zip. system large is 650mb. i try install with twrp 3.1. I get error on step "INSTALLING rootfs...", in log i see
"tar -xz rootfs.tar.gz /system
KILLED" i see error about 10 second on start extracting rootfs. I get this error,because my RAM(1 GB)is very small(i see it in output of df command, i run it before start flashing and in time of flashing).

[2017-09-26 08:35] dakk commented on #631
How did you generate the flashable zip?

[2017-09-26 08:43] zhenyolka commented on #631
pmbootstrap install --android-recovery-zip

[2017-09-26 10:08] ata2001 commented on #631
@zhenyolka I guess the issue is, the tar archive is extracted from the zip first, so it is present both in the zip, and extracted in /tmp, both in tmpfs. Could you please post the whole log file?

[2017-09-26 12:48] jja2000 opened #632 "/var folder in created rootfs is unnecessarily big"
![afbeelding](https://user-images.githubusercontent.com/14004235/30860587-eb7c2c2c-a2c7-11e7-97db-71f71c94c82a.png)

My added packages chosen in pmbootstrap are nano, linux-firmware and alpine-sdk.
Checking the folder shows a ton of cached packages and even the kernel-source:

![afbeelding](https://user-images.githubusercontent.com/14004235/30860651-2ad06866-a2c8-11e7-84c5-2760d195f4a5.png)

And o

[2017-09-26 14:15] MartijnBraam commented on #632
I don't think we need to include the package cache in the generated images. I think the recovery zip generator cleans up way more before creating the .zip file

[2017-09-26 15:46] zhenyolka commented on #631
@ata2001 i flash success. need not touch phone and poweroff screen. i this case /tmp is empty and free space for flash

[2017-09-26 16:12] ata2001 commented on #631
@zhenyolka Please try [this patch](https://github.com/postmarketOS/pmbootstrap/commit/fc5e52c5910875fdce78754eee060503f6259e47) out!

[2017-09-26 17:49] montvid opened #633 "postmarketos-demos not started from /etc/xdg/autostart, causing race condition"
I am running weston with drm-backend.so and I can't see the pmos demo menu anymore after boot. Changing to fbdev-backend.so the menu is there again. Running glxgears with drm-backend shows gears running on the screen so there should not be a problem with the output to weston. When I "sudo killall weston" weston respawns with the menu. I would like that the menu would be there at boot as not to ask

[2017-09-26 18:21] ollieparanoid commented on #632
You mentioned this earlier in the channel, and there I thought the final image would contain the `/var/cache/distfiles` folder (and other caches), which would be a bug.

But now that I look at the screenshots, could it be that you simply ran `ncdu` inside the chroot, not in the extracted image? In that case, having the caches mounted into the chroot is normal behavior.

https://github.com/postmark

[2017-09-26 18:27] jja2000 commented on #632
@ollieparanoid weird thing is that when I do delete the files through ncdu the rootfs size decreases. I also made sure to pass the --rootfs (can't really remember if it was correct, I did it correctly when I asked jn the channel) argument when chrooting in.

[2017-09-26 18:34] ollieparanoid commented on #632
What do you mean with rootfs size, the size of the image?

[2017-09-26 18:47] ollieparanoid commented on #633
This is probably a timing issue here:

https://github.com/postmarketOS/pmbootstrap/blob/e60eee7dfa80d2ae07f31c83d1bbb9c56e3d20e4/aports/main/postmarketos-ui-weston/start_weston.sh#L22-L23

You could try to increase that to 3 seconds as a workaround. A better fix would be using a proper autostart mechanism of weston (I couldn't find one yet), or retrying for 4 seconds or so to find the weston serve

[2017-09-26 18:51] jja2000 commented on #632
Yes, the one built after using "./pmbootstrap.py install"

[2017-09-26 19:22] MartijnBraam commented on #633
I have read somewhere in the weston docs that it can launch .desktop files in the xdg autostart directory

[2017-09-26 20:05] montvid commented on #633
Yes! sleep 3 fixed it so far. Please update.

[2017-09-26 20:41] ollieparanoid commented on #632
OK thanks for the info, I'll check the code if there is a codepath where it does not umount everything before copying the files, I thought that would not be the case.

[2017-09-26 20:55] ollieparanoid commented on #633
Thanks for trying it out @montvid, and thanks for telling how to do it properly @MartijnBraam!

I'll fix it properly with the `/etc/xdg/autostart` solution.

[2017-09-27 07:09] zhuowei opened #637 "Should we load firmware directly from the device's vendor and modem partitions?"
Many Android devices made after the Nexus 9 (so post 2014) store most of their proprietary firmware on the /vendor partition, and, at least on the Nexus 6P and probably many other Qualcomm devices, the modem firmware is stored on a modem partition (usually mounted at /firmware).

For these devices, should we mount these partitions in pmOS and load blobs from there - which would give us a smaller s

[2017-09-27 08:54] drebrez commented on #637
@zhuowei good question, I have a samsung i9070 (from 2012) and also have a `/modem` partition (I suppose contains the blobs for the momem).
I wanted to start trying to enable the modem and like you I didn't know if simply mount that partition or get the blobs from somewhere else.
@ollieparanoid can probably help us answering this question.

[2017-09-27 09:18] sre commented on #630
As I wrote in the other issue, userspace handling gpios has always been a hack. The above patch looks good to me. I think the code you removed is only required for the original N900 kernel and ofono could still be used with them by adding a udev rule to do the symlinking.

I do wonder why ofono affects your udev rule, though. Why is ofono started before your udev rule triggered?

[2017-09-27 11:58] montvid commented on #633
@ollieparanoid sleep 3 would work fine for now and it's a 1 minute fix.

[2017-09-27 13:48] PureTryOut commented on #629
Well, I don't like the look of the UI, but I love choice. Since I'm kinda stuck with Plasma Mobile right now anyway, I'll look into this. Seems easy enough from the little bit of reading I have done so far.

[2017-09-27 16:44] craftyguy commented on #630
Thanks for your guidance @sre !

I have no idea why sometimes udev starts before, or after ofono. We're using openrc, and it's quite possible that the ofono init script doesn't 'depend' on udev. I could have probably 'fixed' this by sorting that dependency ordering in the init system. I'd rather prevent ofono from trying to add these symlinks in the first place, since other folks may be using othe

[2017-09-27 17:36] ollieparanoid commented on #632
The code says, that it always runs `pmb.chroot.shutdown()` (which umounts everything inside the chroot, including the caches), before calling `copy_files_from_chroot()` (which copies the files into the image).

https://github.com/postmarketOS/pmbootstrap/blob/c855ee095b625b981953003f9df5326bbf5a4d39/pmb/install/install.py#L176-L187

Could you try the following?
* Try to reproduce this issue after

[2017-09-27 17:38] ollieparanoid commented on #637
I recommended in the past that we package the firmware (not sure if here in the tracker, or in the channel), for the following reasons:
* We know which version we have
* We can update it easily (either with official new versions, or with hacks like nexmon)
* We don't run into conflict with other OSes that may be installed on the device (e.g. when uninstalling pmOS and installing another ROM, or wh

[2017-09-27 19:59] MartijnBraam commented on #629
The default icons for webos are kinda horrible but it has a very nice user experience. And if we port the HP touchpad then we kinda have the native shell running on it.

[2017-09-27 21:06] zhuowei commented on #62
Tizen's UI is based on Enlightenment and is (mostly?) open source. E.g: the homescreen app is https://review.tizen.org/git/?p=profile/mobile/apps/native/homescreen-efl.git;a=tree;h=refs/heads/tizen_4.0;hb=refs/heads/tizen_4.0 . This may be another option.

[2017-09-28 16:03] craftyguy commented on #630
This issue is resolved for me now that #635 has been merged.

[2017-09-28 16:03] #630 closed

[2017-09-28 16:55] craftyguy opened #645 "[rx51] ofono segfault after connected to gprs for several hours"
I see the following segfault after connected to gprs through ofono. It happens after several hours (I think). Will run more experiments to determine exact amount of time, if possible, that this occurs.

This is very reproducible on my device.

[code]

[2017-09-28 18:01] dakk commented on #581
@Asara did you tried methods suggested by @ollieparanoid ? I have the same device and I want to try your port and help you for testing

[2017-09-28 19:05] z3ntu commented on #570
FYI some/many kernels based on sources from CodeAurora (=Qualcomm) disabled the write access to the RTC. See https://forum.fairphone.com/t/fp-open-os-clock-resets-after-reboot/17635/29?u=z3ntu
Some patch that should solve that is https://github.com/teamgruntled/android_kernel_oppo_find5/commit/df5ab899472f57e98c935719b09023750ffaaaec

[2017-09-28 19:10] craftyguy commented on #570
I don't think the problem is writing to it, I think the problem is that the rtc's battery on the n900 is almost always dead now. I could be wrong though.

On September 28, 2017 7:05:40 PM UTC, Luca Weiss <notifications@github.com> wrote:

[2017-09-28 19:25] ollieparanoid commented on #630
FYI: I think we didn't start udev properly, maybe #647 will also resolve the udev weirdness here (I know that you already fixed it another way, but still).

[2017-09-28 20:07] ollieparanoid commented on #330
Is this still an issue?

[2017-09-28 20:08] #207 closed

[2017-09-28 20:11] ollieparanoid commented on #29
Could someone please check if this is fixed by using `msm-fb-refresher`? See [deviceinfo reference](https://postmarketos.org/deviceinfo).

[2017-09-28 20:17] craftyguy commented on #630
Yea I saw your PR, hopefully that makes udev startup more deterministic :)

[2017-09-28 22:55] PureTryOut commented on #330
Not that I know no.

[2017-09-28 22:56] antonok-edm commented on #330
Nope.

[2017-09-28 22:59] PabloCastellano commented on #63
I just made a first draft using [Pencil](https://pencil.evolus.vn/). What do you think? :smile:

![screenshot from 2017-09-29 00-56-35](https://user-images.githubusercontent.com/73274/30993838-120fd466-a4b1-11e7-9d61-b9c1f1d515dc.png)

If you want to make a second version, the source for Pencil is here:
[postmarketos-gui.zip](https://github.com/postmarketOS/pmbootstrap/files/1342606/postmarketos-g

[2017-09-28 22:59] #330 closed

[2017-09-29 04:42] craftyguy commented on #499
This doesn't work at all. It seems that the subpackage *never* gets pulled in. I modified the `device-nokia-rx51` APKBUILD to include:

[code]

I also tried setting `install_if` to all these different permutations/options, but none of them resulted in the `device-nokia-rx51-weston` package being pulled in during the install:
- `install_if=$pkgname=$pkgver-r$pkgrel weston`
- `install_if="weston"`
-

[2017-09-29 08:39] MartijnBraam commented on #499
Maybe it doesn't pull it in automatically but prevents it from being installed without those dependencies

[2017-09-29 08:41] ata2001 commented on #63
@PabloCastellano I'd prefer a wizard, that explains every step, and guides the user trough everything, even bootloader unlock.

[2017-09-29 08:44] MartijnBraam commented on #63
I guess both a wizard mode and an advanced mode would be good, the wizard for first-time users and advanced mode if you need to flash this to a whole stack of devices.

[2017-09-29 11:51] MartijnBraam commented on #63
I've built a test graphical wizard using python3+gtk3 at https://github.com/MartijnBraam/pmbootstrap-gtk

![page1](https://user-images.githubusercontent.com/6928199/31014817-3b3b44c6-a51d-11e7-84f5-4b07cb7a027c.png)
![page2](https://user-images.githubusercontent.com/6928199/31014818-3f323f12-a51d-11e7-9c1e-460e159ff23e.png)
![page3](https://user-images.githubusercontent.com/6928199/31014823-41cab8

[2017-09-29 12:54] zhuowei commented on #546
@ollieparanoid I'm thinking about creating a patch to abuild that sorts the files in the `tar` archive by name (like [Debian's patch](https://wiki.debian.org/ReproducibleBuilds/Howto#Files_in_data.tar_depends_on_filesystem_order)) so that this issue would consistently happen. Would that help track down issues?

[2017-09-29 13:56] craftyguy commented on #499
If that's the case, then this isn't really a good route to follow after all. [The description of `install_if` on the Alpine](https://wiki.alpinelinux.org/wiki/APKBUILD_Reference#install_if) seems to suggest that it should be pulled in if the packages listed in that variable are installed:

[2017-09-29 14:10] PureTryOut commented on #629
I'm a bit less optimistic now. LuneUI is quite tightly integrated with LuneOS itself. It has some services which has to run at boot, and it has some hard deps on systemd. I guess we can patch these out eventually, but it'll take a while as of course the devs aren't as interested in running systemd-less as we are.

[2017-09-29 14:46] MartijnBraam commented on #499
Hmm yeah, seems like the first example you give should work, maybe the install_if variable isn't set correctly in the subpackage metadata after building?

[2017-09-29 15:20] ollieparanoid commented on #629
The services running at boot is something we can do, but the systemd dependencies really make it harder. Did you write down somewhere, which ones you encountered?

[2017-09-29 16:23] PureTryOut commented on #629
So far I've encountered 2, of which one only has a dep because it offers a .service file (so it's easily patched out):

* luna-next: easily patched, only provides a .service file
* luna-service2: this actually has code depending on systemd, and will need more work to patch out

[2017-09-29 16:29] craftyguy commented on #499
The problem is that it doesn't work. So either there's a bug in abuild or apk, or the specification changed somewhere and the wiki (and online examples in other packages) are wrong 😛

[2017-09-29 16:42] ollieparanoid commented on #546
As I understand, you have already found the cause of the missing `libweston-desktop-2.so.0.0.0` file (it lies in qemu). But in general it would be helpful, if `abuild` produced stable tar output!

*My development on the binary package repo with somewhat reproducible builds has slowed down due to [other tasks](https://wiki.postmarketos.org/wiki/Milestones#ollieparanoid) as you probably have noted.*

[2017-09-29 16:46] ollieparanoid commented on #499
@kaniini, is there something wrong with [this APKBUILD](https://github.com/postmarketOS/pmbootstrap/issues/499#issuecomment-333029438), or is this a bug in `apk`?

[2017-09-29 16:54] zhuowei commented on #546
@ollieparanoid Thanks. Also, for the QEMU bug: QEMU only takes patches against the latest development version, not version 2.8 that we use. Do I also need to submit a patch to the maintainers of the Debian QEMU 2.8 package, or would they backport upstream changes?

[2017-09-29 17:34] montvid opened #655 "Build matchbox-keyboard for Alpine"
It would be very good to have an on screen keyboard to use with xfce/mate or other X11 window managers but Alpine does not package one so far I know. My research shows that there is one widely used keyboard called matchbox-keyboard and there is an updated source for it. Would anyone help me compile it and test or create a package for Alpine? What other on screen keyboards can I install in Alpine?

[2017-09-29 19:00] ollieparanoid commented on #655
(Maybe we can extend osk-sdl to work in X11 and wayland - that will be tricky though - at some point.)

Could you make a work in progress `APKBUILD` for the `matchbox-keyboard`, which shows where you get stuck?

[2017-09-29 19:02] montvid commented on #655
I just don't have any idea what should I install in alpine to build this apk. In the readme it is said autotool but I can't find it in Alpine.

[2017-09-29 19:09] ollieparanoid commented on #655
It mentions, that you need to run `autogen.sh` when running from svn (or git in our case?), which generates the `./configure` script. Looking at `autogen.sh` it shows the `autoreconf` command, which is part of the [`autoconf`](https://pkgs.alpinelinux.org/contents?file=autoreconf&path=&name=&branch=&repo=&arch=) package in Alpine.

(Stable releases are preferred over using git commit hashes as ver

[2017-09-29 19:29] ollieparanoid commented on #546
If Debian only accepts CVE fixes, then I guess it's not worth trying.

Depending on how much time you want to invest in this (totally understandable if this is too boring for you):
* you check if this bug also appears in the latest development version
* if it does, create a patch and submit it upstream to Qemu
* package it for Alpine and apply the patch there
* then upstream the package to Alpine

[2017-09-29 19:36] zhuowei commented on #546
@ollieparanoid I was confused about how we use qemu: I asked on IRC and it turns out we only use Debian qemu for running the qemu-* emulated devices, not for building, and Alpine does accept extra patches.

I'm starting to upstream the patch: I'm going to [follow up on the feedback](http://lists.gnu.org/archive/html/qemu-devel/2017-09/msg08059.html) and hopefully get it into the next qemu release.

[2017-09-29 19:40] ollieparanoid commented on #546
Cool that you're upstreaming the patch! We use qemu for the `device-qemu-*` devices (the native qemu installed on the host!) *and* for building and running `armhf` code from the chroot on `x86_64` (the version repackaged from Debian):
https://wiki.postmarketos.org/wiki/Build_internals#Cross-compile_types (`distcc`)

[2017-09-29 21:26] craftyguy commented on #655
Looks like they have a release tagged here: https://git.yoctoproject.org/cgit.cgi/matchbox-keyboard/refs/

The readme lists some requirements for building: `xlibs`, `xft`, `libfakekey` and `expat`.

Welcome to the fun world of porting packages to Alpine, because you'll likely need to port some dependencies too! Alpine package search is terrible, so some of these missing ones could be there somewhe

[2017-09-29 21:32] ollieparanoid commented on #655
What? I think it's pretty awesome, it allows wildcards and you can even search package contents, which allows to figure out that `autoreconf` [is in the `autoconf` package](https://pkgs.alpinelinux.org/contents?file=autoreconf&path=&name=&branch=&repo=&arch=).

[2017-09-29 21:35] craftyguy commented on #655
Maybe I think it's terrible because I think it should support/enable fuzzy search by default (e.g. searching for `libx` should return `libx11`, `libxft`, etc without having to put a `*` at the end every time :D
But I digress

[2017-09-29 22:21] ollieparanoid opened #656 "Display manager"
Right now we configure the tty0 to automatically log in as `user` (Hildon, plasma?) or `root` (weston) on boot (by editing the `inittab` in the `postmarketos-ui-*` package's postinstall script). Then we start the X11 server (for Hildon) or Wayland compositor (kwin for plasma-mobile, Weston) in an `/etc/profile.d/` script, that checks if the current tty is the one where the autologin happened.

Whi

[2017-09-30 01:27] drebrez commented on #121
I did some tests trying to fix this issue, mainly patching the computation of the width/height/columns/rows in [these ](https://github.com/wayland-project/weston/blob/master/clients/terminal.c#L859-L905) funtions.
Nothing yet, window looks resized but keeps closing instantly...

[2017-09-30 04:29] zhuowei opened #657 "Support running pmbootstrap without root privileges"
Currently pmbootstrap depends on root privileges to chroot into containers and CAP_SYS_ADMIN to setup bind mounts for the chroot. Root may not be available on shared computers (such as a school computer), and CAP_SYS_ADMIN isn't available inside most Docker containers (such as the container offered by Cloud9 IDE).

It would be nice to offer an alternative if there's no way to get root: for example

[2017-09-30 07:45] ollieparanoid commented on #121
It's some progress at least! Do you get the same error message, when it closes?

[2017-09-30 08:26] ollieparanoid commented on #657
CC: @rfs613 who also asked about running pmbootstrap without root privileges some time back in the channel.

---

### Problems

In theory, I would also like to see `pmbootstrap` running without root privileges. PRoot sounds like a nice workaround to solve the chroots and mounts, however we also need to register `armhf` and `aarch64` binaries to run with the Qemu user mode, which this won't solve:

[2017-09-30 08:31] ollieparanoid commented on #657
...with that setup it should at least be possible to execute everything except for flashing to a device (which is a great improvement already). For flashing, we would need to pass through USB devices (does this work without privileges?).

[2017-09-30 09:21] ollieparanoid commented on #629
Thanks for listing that. Looks like there is [more interest](https://www.reddit.com/r/postmarketOS/comments/737u3f/great_project/) in getting the LuneOS UI running on pmOS.

@PureTryOut, how about putting what you have already in a branch in the `pmbootstrap` repo, so it 's a bit easier to collaborate on this?

[2017-09-30 09:40] ollieparanoid commented on #629
Also regarding `luna-service2` and `systemd`:

The [openwebos](https://github.com/openwebos/luna-service2) repo does not have systemd dependencies, and the [`webOS-ports`](https://github.com/webOS-ports/luna-service2/commits/webOS-ports/master) repository is only 14 commits ahead of the `openwebos` repository, and almost all commits seem to be systemd related.

So to get it working at all, we coul

[2017-09-30 14:07] zhuowei commented on #657
@ollieparanoid PRoot does have support for QEMU user mode, but it currently only allows registering one architecture, I think.

[2017-09-30 16:18] zhuowei opened #659 "Is it possible to get more packages to build with cross compilation in the native chroot?"
Currently pmbootstrap builds all packages with qemu user mode emulation except for the [Linux kernels](https://github.com/postmarketOS/pmbootstrap/blob/master/pmb/config/__init__.py#L135). This is slower than building with a cross compiler, as one has to emulate the build system using qemu even if the compiles themselves are done with distcc, and [distcc frequently fails](https://github.com/postma

[2017-09-30 16:24] pavelmachek commented on #570
It seems openrc already has support for what I want, see /etc/init.d/swclock .

[2017-09-30 18:29] zhenyolka commented on #603
@ollieparanoid i fully solve problem with black screen outside weston. need add in initfs.hook this lines
"
echo 0 > /sys/class/graphics/fb0/blank
echo 1 > /sys/devices/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.134/leds/lcd-backlight/brightness
"
and install msm-framebuffer-refresher package.
Tomorrow i try install plasma-mobile, but problem with screen rotate not solve.

[2017-09-30 18:29] #603 closed

[2017-09-30 19:42] ollieparanoid commented on #659
### Terminology
There are `"native"` and `"distcc"` as cross-compile types available in pmbootstrap ([details](https://wiki.postmarketos.org/wiki/Build_internals#Cross-compile_types)), just to make sure that it is clear what I'm talking about.

### Why it was implemented this way
The idea was to make sure, that we really can cross-compile all packages, and this approach is [widely used in Arch Lin

[2017-09-30 20:00] ollieparanoid commented on #657
Oh right, it says so right in the description of the repo >_<

Thanks for pointing that out! From reading the manual, you would "only" need to replace the `chroot`, `mount --bind` calls and the `binfmt` stuff with proot calls. They are abstracted in the `pmbootstrap` source already, so the good news is, that you would only need to change it in one place.

Do you want to make a proof of concept wit

[2017-09-30 20:29] PureTryOut commented on #656
It would be nice to at least leave an option open to allow multiple users in the future. It might not be useful on phones and smartwatches, but it is on tablets and smart TV's. Although I guess the focus should still be on DE selection at that point. Or we could even make it so that the DE choice is remembered per user.

All future stuff though, let's focus on DE switching first.

[2017-09-30 21:27] zhuowei commented on #657
@ollieparanoid PRoot does all the setup in one call instead of separate mount/chroot calls, so it would require some restructuring.

This isn't a high priority for me since I do have root on my device. (Although doing development in the Cloud<sup>TM</sup> world be cool.)

[2017-09-30 21:59] #631 closed

[2017-09-30 22:41] #193 closed

[2017-09-30 22:50] ollieparanoid commented on #657
I see, thanks again for explaining! It's totally fine if you don't plan to work on this. When someone shows up, who has this use case, we have all the information ready so that person could directly start a proof of concept.

[2017-10-01 00:51] #570 closed

[2017-10-01 01:23] ericblade commented on #629
I would like to say that I'm interested in help, although at this very moment, I don't have any idea what this project is -- but I do have pretty extensive experience with HP and LG and Open webOS, and I talk pretty frequently with LuneOS people, so would like to offer my knowledge.

[2017-10-01 01:49] drebrez commented on #199
I can confirm that weston can be started as user.

Here what I've tried:
[code]
changed `/etc/inittab` to respawn login with `user` instead of `root`
changed `/etc/profile.d/start_weston.sh` to call `weston-launch`
[code]

[2017-10-01 02:15] ollieparanoid opened #662 "postmarketos-ui-gnome"
*AA-ron from IRC wanted to try out Gnome with postmarketOS*

Recommendation:
* [ ] Submit PRs upstream to get all Gnome-related packages for aarch64/armhf ([they are missing currently!](https://pkgs.alpinelinux.org/packages?name=gnome-shell&branch=&repo=&arch=&maintainer=)), talk to @kaniini for that.
* [ ] Create a `postmarketos-ui-gnome` package, that configures Gnome with Wayland (similar to `p

[2017-10-01 02:28] ollieparanoid commented on #629
@ericblade: That is very kind of you! Check out our [homepage](https://postmarketos.org/) for information about postmarketOS. While still at a very early stage, we [have a high number of devices](https://wiki.postmarketos.org/wiki/Supported_devices#Officially_supported) where at least touch screen and usb networking is working. postmarketOS development can be done in [Qemu](https://wiki.postmarket

[2017-10-01 02:52] ollieparanoid commented on #199
Awesome! I understand that this was just a proof of concept. Here are some remarks to integrate this properly:
* I guess `shadow` should be a dependency of `postmarketos-base`
* chowning `/dev/fb0` seems like a big hack to me. I think distributions used to have a `video` group, which could access the framebuffer. Does it work without the chown, when the user is in that group?
* Additional groups c

[2017-10-01 02:59] craftyguy commented on #199
Yup, instead of "chown"ing /dev/fb0, 'user' should be added to the 'video'
group. That group has R/W access to fb0.

On Sun, Oct 01, 2017 at 02:52:01AM +0000, Oliver Smith wrote:

[2017-10-01 03:16] ollieparanoid opened #663 "Improve contribution workflow from Alpine derivatives"
Dear upstream friends from Alpine,

we are very grateful about how easy you guys make it to work together by directly answering our questions in issues here in GitHub (@ncopa) or even joining [#postmarketOS](https://wiki.postmarketos.org/wiki/Matrix_and_IRC) and giving valuable answers from the view of an Alpine developer (@kaniini, @Shizmob)!

So it seems like you guys embrace derivatives of Alpi

[2017-10-01 03:46] awilfox commented on #663
I made a [vaguely similar thread on the ML](http://lists.alpinelinux.org/alpine-devel/5811.html) that I hoped to spark a similar discussion.

Speaking for the Adélie team (now 5 strong!), I'd like to discuss/answer some of these points inline:

We haven't had any issues (@Aerdan and I seem to get our PRs closed within 1 week) so I can't comment here.

This is something I noticed happening too.  We

[2017-10-01 04:34] zhuowei commented on #546
@ollieparanoid So at least two other people ran into this when building Weston: should I patch `abuild` to not make null zero-length writes instead? That's the workaround I'm using locally, and may be faster than waiting for the next QEMU release.

[2017-10-01 04:36] kaniini commented on #663
Once we have the new build infrastructure in place, I am sure that we could arrange for derivatives to make use of it.  But I will need to talk with the infra team before committing us to that.

Regarding armhf build bots being stuck, as previously discussed, it is because rootbld needs to be rolled out, which allows different packages to fail separately.  This is mostly down to working out the sp

[2017-10-01 04:39] kaniini commented on #663
Beyond that, my personal vision is to onboard derivative developers *as* Alpine developers so that there is more opportunity for symbiosis.  For example, there is a lot of overlap between the Alpine Desktop, Adelie, and postMarket OS projects, so I am hearing you guys loud and clear on that, it's just a matter of getting things done to streamline this process.

[2017-10-01 05:27] turbolent commented on #107
I just tried to give pmbootstrap a try. I downloaded and installed an Alpine standard ISO, as postmarketOS is based on it, and tried to run pmbootstrap in it, but it failed due to the grsec issue.

I'd recommend adding the requirement of a vanilla kernel to the README (maybe even the message
 in https://github.com/postmarketOS/pmbootstrap/blob/1c13ca4fd9e32952a8e559987f82cd0925cddee9/pmb/helpers/o

[2017-10-01 11:45] PureTryOut commented on #629
@ericblade thanks! I can use the help! I do basically all development in Qemu, as it's way easier to test out.

I just pushed the [postmarketos-ui-luna](https://github.com/postmarketOS/pmbootstrap/tree/postmarketos-ui-luna) branch which has everything I've got so far. Right now we need to get rid of the systemd dependency of `luna-service2`, which like @ollieparanoid said, can probably be achieved

[2017-10-01 11:56] MartijnBraam commented on #662
I guess getting gnome-shell on armhf will be quite difficult since their javascript engine doesn't compile on non-x86 platforms (which I found about why its not in alpine)

[2017-10-01 11:59] MartijnBraam commented on #656
The simplest implementation I know of is nodm which is X only and single user/single DE (built for mobile devices), its just a shell script so maybe we can extend that to support what we want.

[2017-10-01 12:02] MartijnBraam opened #666 "Support changing the username"
Currently the have the hardcoded user named "user" (which is a bit confusing for new users). One thing that annoys me about the current mobile platforms is that I can't change the username so I have to remember what user to use when ssh-ing into the device.

Also for a proper linux installation the username shouldn't matter, I guess the only thing that depends on the username on the phone is some

[2017-10-01 16:58] andychu commented on #663
@kaniini If there is some testing or debugging work necessary for `rootbld`, let me know... once upon a time I tried to build a containerized distro, where packages both run and build in containers, so I have some familiarity with those kinds of things.

Also I have some hardware to set up a builder but I think you probably have them all under a single set of admins for trust reasons?

(found this

[2017-10-01 17:14] PureTryOut commented on #656
[This one?](https://github.com/spanezz/nodm) Well, it's not just a script, but it seems pretty minimal which is good. Implementing Wayland support should be our first priority then I guess.

[2017-10-01 17:30] pavelmachek opened #669 "Useradd done too soon, and twice"
(017072) [19:25:51] Add user
(017072) [19:25:51] (rootfs_qemu-amd64) % adduser -D user -u 12345
(017072) [19:25:51] (rootfs_qemu-amd64) % chown -R user:user /home/user
(017072) [19:25:52] (rootfs_qemu-amd64) % apk update

But postmarketos-base.post-install contains different adduser:

[code]

[2017-10-01 17:41] craftyguy commented on #663
@kaniini pointed out in IRC that there are a few packages that keep causing the armhf builder to fail. At least one of the failures is due to binutils not being installed. There's not an obvious (to me) way to reach out to the "armhf builder admins" to notify them of this (and future) issues.

I can definitely help out with submitting any PRs to fix packages that break the armhf builder, I just ne

[2017-10-01 18:48] zhenyolka opened #671 "Can you add chose graphical server in "pmbootstrap init"?"
Please, add xorg server in "pmbootstrap init" and configure it. Because on same device screen rotated upside down(with xorg people can rotate screen in config), or non-standart touchscreen driver(it may be configure in xorg.conf). And more graphical enveroiment today on xorg.

[2017-10-01 19:47] pavelmachek opened #672 "[qemu-amd64] Xserver does not work"
I added xfce4 and xf86-video-modesetting,pciutils,xf86-input-libinput,xf86-server-vesa packages. Unfortunately, I'm getting " vesa: ignoring device with bound kernel driver" message. According to google, it seems to be bug in X server, and newer X.org would solve that..?

[2017-10-01 19:52] pavelmachek commented on #671
I started working on xfce4. Currently it is installed, but needs manually copying files from /etc/skel to apply reasonable configuration for a phone.

[2017-10-01 19:55] pavelmachek commented on #671
Code is at https://github.com/pavelmachek/pmbootstrap/tree/xfce4-3

[2017-10-01 20:02] pavelmachek opened #673 "[qemu] error when modprobing loop should not be fatal"
In losetup.py, I suggest something like this: I do have loop built-in, so modprobe fails, but loop is still usable.

[code]

[2017-10-01 21:43] craftyguy commented on #588
Hmm, maybe we should go with chrony: https://www.coreinfrastructure.org/news/blogs/2017/09/securing-network-time

[2017-10-01 22:37] craftyguy commented on #666
Should it use the username of the user building/installing pmOS, or just prompt the user to enter one or use 'user' as default?

[2017-10-01 23:09] craftyguy commented on #671
@zhenyolka

Currently the only options for selection in `pmbootstrap init` are graphical UIs (and currently only weston). I think this selection should be limited to these things (DEs and WMs), since it doesn't make a lot of sense to install, for example, xorg-server but no DE or WM.

If @pavelmachek creates a `postmarketos-ui-xfce4` package, it would get picked up by `init` and displayed as an op

[2017-10-02 00:40] PureTryOut commented on #666
I'd say prompt the user and default to `user`.

[2017-10-02 00:43] craftyguy commented on #666
Ok, yea that was the path I was going down. This is actually going to
be a fairly large task.. 'user' (and /home/user) are hard-coded in
quite a few places. I'm assuming the chroots should also be
consistent, for instance a user 'bob' on the device would have a
corresponding user 'bob' in all of the chroots used to build pmOS..
On Sun, Oct 01, 2017 at 05:40:07PM -0700, Bart Ribbers wrote:

[2017-10-02 05:48] kaniini commented on #663
As previously stated, the infra team coordinates the build servers.  If you write to alpine-infra@lists.alpinelinux.org you could report the problem that way.

With that said, Alpine itself is a noncommercial project and the project does not pay for sysadmins, so it is not possible to provide an SLA.  You could perhaps inquire about joining the infrastructure team but you would need to be a develo

[2017-10-02 06:53] kaniini commented on #663
This is just sort of an upstream gripe so please do not take it the wrong way, and I hope it explains why I feel that derivative developers must *also* be Alpine derivatives for things to work as optimally as possible.

The existence of this thread comes off badly to people who are devs in Alpine because it reads like pmOS wants special treatment.  Whether or not that is the case, I am not sure, b

[2017-10-02 09:39] zhenyolka commented on #671
@pavelmachek in install xfce4 with your repository, but on start i get this(error in file).
[Xorg.0.log](https://github.com/postmarketOS/pmbootstrap/files/1348461/Xorg.0.log)

[2017-10-02 12:46] MartijnBraam commented on #666
I meant the user account on the device, which I don't think is hardcoded that much anywhere (we currently hardcode mostly to run stuff as root anyway) The most hardcoded paths are in the build system.

I don't think the chroots need to be consistent at all with the username on the phone.

[2017-10-02 14:48] craftyguy commented on #663
Sorry that us reaching out to you to offer help has come across as a 'demand', in fact it's far from it. Until your post above, there was no clear communication from the Alpine developers on how a project like pmos could help Alpine. You said we should become developers, ok! What's the process? Where do I start?
Is there a list of items "to do" that I could start working on to hopefully, after som

[2017-10-02 16:13] ericblade commented on #629
I'm a weee bit out of touch with LuneOS development, as my life has been on a crash course in insanity for a while, so I'm not familiar with why exactly there's a dependency on systemd, but I suspect they would welcome changes to make it optional, probably.

[2017-10-02 16:44] PureTryOut opened #677 "[qemu] No internet access"
Read: *internet*. I do have *network* access.

Not sure what changed but I can't access any server/ip address outside of my own home network anymore from within Qemu. This makes `apk` unable to contact it's servers and is quite annoying for development. I can however access any device on my home network (I can ssh into my router fine for example).

[2017-10-02 17:20] NotKit opened #678 "libhybris support?"
libhybris is a compatibility layer for loading Android libraries (compiled against Bionic) by glibc-based Linux applications. However, with some changes it can be compiled with musl as well. Caveats yet to be found, but I was able to utilize Android OpenGL libraries on at least two devices (Moto Droid 4 and Moto Z Play).

Does it make sense to package libhybris for postmarketOS, and if yes, what's

[2017-10-02 20:06] drebrez commented on #199
I can confirm that adding the `user` to the `video` group solves the permission:
`usermod -a -G video user`

[2017-10-02 20:09] pavelmachek commented on #669
Side effect of this is that /etc/skel does not work properly, as useradd is done before content of /etc/skel is finished. @MartijnBraam suggested taking useradd out of postinstall and into pmbootstrap.

[2017-10-02 20:29] ollieparanoid commented on #669
Good catch! I'm also in favor of removing the version from postinstall and use the one from the Python code exclusively.

[2017-10-02 20:31] craftyguy opened #679 "[pmbootstrap] Unable to build cloudi package from Alpine"
https://git.alpinelinux.org/cgit/aports/tree/testing/cloudi

This can be reproduced by downloading (or symlinking if you cloned the alpine aports repo) to `aports/main/cloudi` in your pmbootstrap repo.

Build log is here: https://ptpb.pw/keh8

If I manually add the package 'ghc' (and there's one more it can't find, don't recall the name) then the configure script hangs indefinitely trying to test

[2017-10-02 20:39] pavelmachek commented on #669
Pull request #680 tries to fix it.

[2017-10-02 20:45] ollieparanoid opened #681 "gnome-menu2 doesn't build on aarch64"
Reported by rn3_pmOS in IRC:

The solution is probably using a similar prepare function like for chocolate-doom in #664.

[2017-10-02 20:48] ollieparanoid commented on #672
X11 works for me with qemu-amd64 when configured like in here: #649

That PR is still work in progress. However, you could use it as starting point and change the xinitrc to start xfce4 instead of Hildon.

[2017-10-02 21:04] ollieparanoid commented on #546
That sounds like a good short-term solution. Just keep in mind, that we can't put `abuild` in our aports-folder, because `abuild` is required to build packages (`pmbootstrap` would probably recurse infinitely then, and we only need this fix for one architecture anyway).

We already put a wrapper for `gzip` to `/usr/local/bin/gzip`, which changes the compression flag to `-1` to speed up builds. So

[2017-10-02 21:07] zhuowei commented on #546
@ollieparanoid The native cross build PR can work around this by completely avoiding qemu. So if that gets merged I don't think we would need another short term solution.

[2017-10-02 21:14] ollieparanoid commented on #460
As written in #625, our code tends to ignore that there could be multiple flash methods specified. I suggest that we only allow one flash method and rename the variable to `deviceinfo_flash_method` (without the `s`). This would also resolve the question whether we should add `adb` as flash method or not.

If a device still supports multiple flash methods, we could mention that in the device's wiki

[2017-10-02 21:36] pavelmachek commented on #669
...and probably fails. Its way more complex. /home/user is used for building in chroot-device, but then it is not copied during installation...

[2017-10-02 21:39] ollieparanoid commented on #588
While that audit sounds great, it does not cover `openntpd`. But `chrony` has a [comparison table](https://chrony.tuxfamily.org/comparison.html) which shows, that `chrony` also implements privilege separation and uses seccomp on Linux, which `openntpd` does not.

I'm also convinced now, that `chrony` is more secure. And the other features it has sound nice as well. Great find!

[2017-10-02 21:53] #673 closed

[2017-10-02 22:09] ollieparanoid commented on #662
From reading the backlog, it looks like @opendata26 got it working somehow \o/

[2017-10-02 22:15] craftyguy commented on #677
Does `nslookup postmarketos.org` yield anything fruitful?

[2017-10-02 23:10] ollieparanoid commented on #546
True! It will also take some time until that gets merged though, because its a deep architectural change and it really needs to be tested well.

[2017-10-02 23:18] ollieparanoid commented on #666
In `pmb.chroot.init()` we could check, whether the chroot we're initializing starts with `rootfs_...` and in that case, use the custom username if any is present.
We would also need to extend the logic accordingly in the function, that `--bind`-mounts everything into the chroots, there's also `/home/user` hardcoded (as we execute code in the `rootfs` chroot, this function will be called first).

[2017-10-02 23:25] rendeko opened #683 "Ouya port discussion"
I've been attempting to port the Ouya to pmOS, with little success.

For the kernel we have a few options. [the official kernel running 3.x](https://github.com/ouya/ouya_1_1-kernel), [milaq's aftermarket kernel running 3.x](https://github.com/milaq/android_kernel_boxer8_ouya) (the one I personally have been attempting to patch and compile), and [stephank's attempt to run 4.3](https://www.reddit.co

[2017-10-02 23:37] ollieparanoid commented on #678
+CC: @bhush9 (bshah), @z3ntu from Halium

First of all, great research!

### Proprietary blobs in userspace
My personal opinion, as written in `#postmarketOS`:

### Chroot instead of libhybris?
I'm wondering if it is possible to run `ldd` on the blob in question, and then copy the blob with all libraries it links against (including bionic libc) to a folder on the device, and run it in a chroot. As

[2017-10-03 00:59] zhuowei commented on #546
@ollieparanoid I'm trying to get that PR ready faster by only whitelisting two packages for now. So hopefully it should not take too long to merge it?

[2017-10-03 05:57] z3ntu commented on #678
I don't really like libhybris either, it kind of taints GNU/Linux and it's not viable in the long run. Open source graphics drivers (and other drivers) are our future!

[2017-10-03 06:49] NotKit commented on #678
@z3ntu I can agree with you about future, but what can we do about less popular current devices, which are not likely to get open source graphics and other drivers support?

[2017-10-03 16:42] drebrez commented on #434
@PabloCastellano @ollieparanoid with the new wiki, the urls are not that bad, they can be added without having to create additional short urls, or not?

[2017-10-03 17:24] ollieparanoid commented on #683
The kernel complies now! Changes made:
* used .tar.gz instead of zip archive
* used the commit hash in the download url
* based on defconfig: `arch/arm/configs/cyanogenmod_ouya_defconfig`
* enabled `DEVTMPFS` and `VT` as detected by `pmbootstrap kconfig_check`
* removed all -Werror flags in `prepare()` (which cause warnings to be errors that abort the build)
* applied two patches to the code

Uplo

[2017-10-03 17:27] ollieparanoid opened #688 "Create a kernel package template"
It would be nice if we had modern template somewhere in the code tree for new kernels with the following:
* using abuild's `default_prepare` for applying the patches (like @drebrez did)
* include commonly used patches by default (fix return address, timeconst fix, msm driver fix). it's much easier to remove patches that do not apply than finding which patch is necessary to fix a specific compilati

[2017-10-03 17:53] ollieparanoid commented on #434
Yep, they are much better and I agree that we could use them without short urls:
[code]

[2017-10-03 18:10] #669 closed

[2017-10-03 18:14] MartijnBraam commented on #434
Short urls could be possible but the list for them has to be maintained seperately (in the build stuff for the postmarketos.org site or with a .htacces file on the wiki.postmarketos.org domain)

[2017-10-03 18:17] ollieparanoid commented on #434
I would prefer if we did not do that, because that would involve an additional PR for the pmos.org page for every new device, which increases the entry barrier a bit (and means a bit more reviewing work etc).

[2017-10-03 18:18] MartijnBraam commented on #688
I think a small improvement could to remove `$_flavor` for the default source url and use a `$_repository` variable containing the github identifier (like LineageOS/android_kernel_lge_bullhead), with the `$_repository` variable and the `$_commit` variable together you can generate the correct source .tar.gz url and the correct `$kbuilddir` variable every time

[2017-10-03 18:19] MartijnBraam commented on #434
Yeah definitely, the only way short urls could work good if we somehow generate the redirect list from wiki page contents (which we have in the other git repo) but that would be messy and complex for not a lot of benefit.

[2017-10-03 21:30] PabloCastellano commented on #436
PR https://github.com/postmarketOS/pmbootstrap/pull/692 solves this issue.

However it doesn't modify the `prepare()` function to use `default_prepare`. I was not able to compile `linux-motorola-titan` using this approach because patches don't apply. Some path must be incorrect.

If someone wants to debug further, you can do it entering the chroot after failing to compile and then running
`cd /hom

[2017-10-03 21:46] drebrez commented on #436
@PabloCastellano you have to specify the `builddir` variable to make it work (see [here](https://github.com/alpinelinux/abuild/blob/master/abuild.in#L595-L610))

[2017-10-04 00:33] kaniini commented on #662
but does it  actually run on real hardware ?

[2017-10-04 00:57] zhuowei opened #693 "Make sure all kernels support containers"
I noticed that some devices do not explicitly enable CONFIG_NAMESPACE, which is one of the options required for Linux containers.

There's quite a few projects using containers (Anbox, Docker, etc), so we should investigate which kernel options are required for them, and then check/enable them on all the supported kernels.

[2017-10-04 08:07] z3ntu commented on #511
I just saw https://github.com/Halium/projectmanagement/issues/26 from Halium which is also about NFS booting.

[2017-10-04 08:09] zhuowei commented on #511
@z3ntu I made both issues since NFS booting worked reasonably well on pmOS and I wanted to see if it would work on other oses.

[2017-10-04 08:14] z3ntu commented on #511
Didn't see that ^^

[2017-10-04 08:25] MartijnBraam commented on #662
It does, here's a photo of it running on the sony castor, made by @opendata26:

![file1506886340746](https://user-images.githubusercontent.com/6928199/31166227-4d14c68e-a8ee-11e7-8717-88f665d551da.jpg)

[2017-10-04 14:58] ollieparanoid commented on #663
*In case this thread sounds confusing, discussion has been going in parallel in #alpine-devel ([logs](https://dev.alpinelinux.org/irclogs/%23alpine-devel-2017-10.log)).*

That was not intended at all, sorry.

@kaniini: Thank you for taking the time to answer this topic in detail, and for giving us a few pointers on how we can get more involved. Especially that you would mentor someone from postmar

[2017-10-04 14:58] #663 closed

[2017-10-04 15:05] #436 closed

[2017-10-04 15:06] ollieparanoid commented on #436
The kernel APKBUILDs need some more refactoring anyway, I suggest we create a template first, then adjust the existing APKBUILDs to that, see: #688

[2017-10-04 15:28] #633 closed

[2017-10-04 17:14] ollieparanoid commented on #499
`install_if` works for me, see #696.

@craftyguy, do you want to try using that for the configs again (after #696 got merged)?

[2017-10-04 17:34] ollieparanoid commented on #693
Good idea! There have been quite a few people asking about anbox support.

[2017-10-04 18:44] ollieparanoid commented on #64
Work on the (lazy) reproducible builds has been frozen for over a month now, so here's a status update.

#### Problems
* I am not sure if Travis can compile bigger packages like `linux-postmarketos` in time (each Travis CI job must be finished in 50 minutes)
* Some effort and manual steps involved for each package upgrade (bottleneck!)
* The security benefit is only for postmarketOS packages, but

[2017-10-04 18:47] opendata26 commented on #662
To get it to compile I patched a random 6 that appears after running configure in mozjs there is definetly a better solution to this so I'm not making a PR yet it is also fully useable

[2017-10-04 18:48] opendata26 commented on #662
Tree is on my GH gnome brsnch

[2017-10-05 09:06] z3ntu commented on #299
For the fp2 I have `deviceinfo_flash_sparse="true"` in the deviceinfo but not a dependency to libsparse. Compilation and booting still works fine (I use the recovery zip method)

[2017-10-05 15:58] MartijnBraam opened #699 "Support fat partitions for /boot"
I'm trying to port pmos to the Raspberry Pi but that requires a fat partition instead of ext2 as /boot. We could add a switch in the deviceinfo to make the boot partition fat instead of ext2 and have a firmware package that adds the extra firmware files for the rpi to /boot to make it work.

[2017-10-05 17:53] PureTryOut commented on #699
Is it not a possibility that phones support both ext2 and FAT as `/boot`? If so, can't we just use FAT everywhere? Or am I hoping for too much?

[2017-10-05 18:26] pavelmachek opened #700 "udevadm trigger is needed before ofonod works"
Current init scripts do not do udevadm trigger, so ofonod starts and immediately exits. Running udevadm trigger fixes that.

[code]

[2017-10-05 18:47] pavelmachek opened #701 "[rx-51] wrong keymap in X"
It seems we have wrong keymap in X: blue key does not work, so symbols can not be accessed. `/usr/share/X11/xkb/symbols/nokia_vndr/rx-51` exists and seems to contain something reasonable.

[2017-10-05 18:50] z3ntu commented on #299
Found #312 which is basically this issue described in my last comment.

[2017-10-05 19:31] z3ntu commented on #312
Unfortunately using sparse images doesn't solve the problem on the fp2... But it's most likely a problem with the Fairphone bootloader and not with pmOS.
[code]

[2017-10-05 19:36] pavelmachek opened #703 "/etc/sudoers.d/postmarketos does not exist"
...and includedir directive in /etc/sudoers is not enabled, anyway. But the file should be generated by ./aports/main/postmarketos-base/APKBUILD . What is going on there?

[2017-10-05 20:06] z3ntu commented on #604
I tried
[code]
but the splash screen never showed. What worked though is that weston automatically shows and msm-fb-refresher is already running :) ("unintended side effect")

[2017-10-05 20:19] ollieparanoid commented on #703
* `/etc/sudoers.d/postmarketos` does generated on my systems (you need root rights to list the contents of `sudoers.d`)
* the include *is* enabled in the default sudo config shipped with Alpine (probably unmodified from upstream - the `#includedir` is not a comment, that is really confusing!):
[code]
* Finally `sudo` works as user whenever I tested it

Is any of the above different for you? Thanks

[2017-10-05 20:21] ollieparanoid commented on #312
Does the fairphone2 use a different `img2simg` program or something like that?

[2017-10-05 20:28] ollieparanoid commented on #701
I found [this repo](https://github.com/archlinuxarm-n900/xkeyboard-config-n900-git) which basically patches the keyboard layout from upstream as I understand.

Maybe you could make a `xkeyboard-nokia-rx51` package for starters, which works similarly (and to make sure that it still works), and then try to get these patches upstreamed so we can drop the package again.

[2017-10-05 20:32] MartijnBraam commented on #699
Well the n900 also uses the /boot partition directly and requires ext2 on it so it has to be configurable to make it work.

[2017-10-05 20:35] ollieparanoid commented on #700
There's an OpenRC service, that explicitly triggers udev (in runlevel `default`). Maybe that only gets executed after `ofonod` starts (i.e. we need to put `ofono` into another level?)

https://github.com/alpinelinux/aports/blob/2fbea8b8dae00613de97862e509c6f76988ddeaf/main/eudev/setup-udev#L24

`ofono`'s current runlevel is also `default`, you could try to change that here:
https://github.com/post

[2017-10-05 20:40] craftyguy commented on #701
Wow nice find @ollieparanoid , I was searching for some way to implement this a while back but wasn't able to find this project.

[2017-10-05 20:43] craftyguy commented on #700
Hmm, I had the trigger in there ([see here](https://github.com/postmarketOS/pmbootstrap/commit/26204891a8038ba18a1eafded1b85da3e8878f10#diff-ffe196c1d91443d8ecd7d06bfa315884L150) but removed it when that udev commit was submitted. I will re-add the udev-trigger service to the default runlevel since that seems to have resolved this issue.

[2017-10-05 20:44] ollieparanoid commented on #604
Good that you have tried it out! When searching for `mutex BUG: sleeping function called from invalid context`, a lot of results come up. It seems to be a bug in the kernel driver.

Luckily you are a kernel developer, so maybe you could figure out from there what goes wrong?

---

I didn't answer this one yet. @drebrez wrote:

If we needed two variants, I'd prefer if we extended `msm-fb-refresher`

[2017-10-05 20:49] ollieparanoid commented on #700
Oh, I just realize that the [`udev-setup`](https://github.com/alpinelinux/aports/blob/2fbea8b8dae00613de97862e509c6f76988ddeaf/main/eudev/setup-udev#L21-L26) scripts on *starts* the services, it does not *enable* them (and it doesn't even start them when called in postmarketos-base' post-install script, because we do it as dry run, which is intended)!

[code]

[2017-10-05 20:50] craftyguy commented on #699
+1 to adding an option in deviceinfo, maybe `deviceinfo_boot_fs` or something? It should default to ext2 if none is specified, so we don't cause a regression with all devices now that expect ext2 without having to explicitly update their device packages.

[2017-10-05 22:10] pavelmachek opened #708 "Less scary warnings in ./pmbootstrap.py install"
If we are building qemu image, we probably do not need to ask y/n if that's ok. Qemu images are always safe.

If we are doing sdcard install, it makes sense to print less scary warning if the sdcard already contains pmos.

[2017-10-05 22:23] ollieparanoid opened #709 "Improved "user" creation code"
Follow-up to #666 and what has been discussed in the channel.
We would like to have the following changes:
- [x] user used in the build chroots should be called "build", not "user" (to avoid confusion)
- [x] ask in `pmbootstrap init` for the install-user, default to `user`
- [x] during `pmbootstrap install`: the install-user should be created inside the chroot, with a UID of `1000`
- [x] give the

[2017-10-05 22:24] ollieparanoid commented on #666
continued in a new ticket with some more aspects, as discovered in the channel: #709

[2017-10-05 22:24] #666 closed

[2017-10-05 22:28] ollieparanoid commented on #708
Yeah, for images in general we can skip the confirmation. Printing out the size it will have is nice to know though.

[2017-10-05 22:29] MartijnBraam commented on #708
We can probably create a very fancy warning message by reading `/etc/pmos_version` in the system partition if it exists and ask the developer if they want to overwrite "pmos build xxx"

[2017-10-05 22:32] MartijnBraam commented on #699
Yeah it  should totally default to ext2, this is more a special case for the raspberry pi hardware (and maybe other platforms in the future)

[2017-10-05 22:51] ollieparanoid commented on #598
To drive this issue forward, I have looked into packaging Android's `rild` for postmarketOS. TBH it is not as easy as I thought, but I've made some progress already (see the [android-ril branch](https://github.com/postmarketOS/pmbootstrap/tree/feature/android-rild/aports/android)). Feel free to continue from that, whoever reads this.

If we had `rild` available, we wouldn't need to wire up `ofono`

[2017-10-05 22:55] ollieparanoid commented on #708
That will be hard if it is encrypted. But we could read the partition labels without mounting it.

[2017-10-06 05:59] z3ntu commented on #604
No, I'm not a kernel developer 😄 I just did similar changes to the dts file I submitted upstream that I found with other devices (hammerhead and honami) ^^ And I got a lot of help on the irc channel

So in short: I have no idea.

[2017-10-06 08:39] MartijnBraam commented on #708
Oh yeah encryption, forgot about that

[2017-10-06 08:55] z3ntu commented on #312
No, apparently it's just a bug that only appears when flashing large images with fastboot. Android gets installed with the recovery normally so this issue doesn't appear there.

[2017-10-06 09:03] z3ntu commented on #337
Same for the fp2:
[code]

[2017-10-06 09:13] z3ntu commented on #337
And
[code]
This [script](https://github.com/LineageOS/android_system_extras/blob/cm-14.1/ext4_utils/mkuserimg.sh) will call the make_ext4fs with the correct parameters.
(from the build log for LineageOS 14.1)

[2017-10-06 10:07] drebrez commented on #312
@z3ntu fastboot is known for it's limitations on flashing large images, for that reason I came up with this alternative solution => https://github.com/postmarketOS/pmbootstrap/issues/456

[2017-10-06 10:36] z3ntu commented on #312
I'm working on packaging make_ext4fs right now.

[2017-10-06 10:58] pavelmachek opened #710 "[rx-51] build fails"
Enable access key retention support (KEYS) [Y/?] y
  Enable register of persistent per-UID keyrings (PERSISTENT_KEYRINGS) [N/y/?] n
  Large payload keys (BIG_KEYS) [N/y/?] (NEW) aborted!

Console input/output is redirected. Run 'make oldconfig' to update configuration.

make[2]: *** [/home/user/build/src/linux-4.13/scripts/kconfig/Makefile:39: silentoldconfig] Error 1
make[1]: *** [/home/user/buil

[2017-10-06 11:01] pavelmachek commented on #710
Apparently this is needed: can be obtained by running
[code]

[2017-10-06 11:52] MartijnBraam commented on #710
Maybe we should do `yes | make .... silentoldconfig ...` to make the kernel stuff accept the defaults in the prepare step. (I've used this a lot while porting, works fine)

[2017-10-06 12:02] pavelmachek commented on #700
I tried adding 9900c5e commit, but it did not seem to help. Should "need udev-settle" be added to /etc/init.d/ofono ?

[2017-10-06 12:50] pavelmachek commented on #710
yes | seems wrong, it will enable everything, even wrong option.
yes "" | might do the trick, accepting defaults.

[2017-10-06 12:56] MartijnBraam commented on #710
oh yeah i've used `yes "" |` before.

[2017-10-06 13:17] pavelmachek opened #711 "[rx-51] list-operators fails, even when networks are available"
list-operators returns empty list, even with modem connected to the network:

[code]

This is probably regression in ofonod; old ofonod version in debian works on N900.

[2017-10-06 15:35] craftyguy commented on #710
Hmm, I wonder why this kernel built OK for me before I pushed the PR to update it..

[2017-10-06 15:36] craftyguy commented on #711
I recently updated ofono to 1.21 (was 1.20 previously). Did 1.20 work for you? I don't really use the ofono test scripts any more, at least not for managing data connections.

[2017-10-06 16:45] z3ntu commented on #299
I have actually packaged make_ext4fs but it's no longer neccessary as I have patched the Fairphone lk sources to support the CHUNK_FILL type in sparse images. Commit: https://github.com/z3ntu/android_kernel_lk_fairphone_FP2/commit/0255581a47b96b8b0b3d7c5f0336d5f6bef8f2ad (also found in several other lk sources e.g. on codeaurora).
I am hoping that the commit will be applied by Fairphone soon and b

[2017-10-06 17:43] ollieparanoid commented on #710
@pavelmachek: thanks for reporting!

@craftyguy: that is really odd, I was also able to reproduce it. Are you sure, that it was built? You could check your logs.

@MartijnBraam, @pavelmachek: I've prepared a PR, which uses "olddefconfig". It is essentially the same as `yes "" | ...`, but a bit nicer. I'll add the `yes "" | ...` thing to #688 though, because it also works with older kernels, that d

[2017-10-06 17:48] ollieparanoid commented on #700
Yeah, I think depending on `udev-settle` is the right way (not sure about the OpenRC specific syntax in the service files though)!

After staring at the `udev-setup` code for a bit, I realized now, that it *does* enable the services - it just doesn't use the `rc-update` script from OpenRC, but create the symlinks manually.

So all it does, is in fact:
* disable services: hwdrivers and mdev
* add s

[2017-10-06 18:45] ollieparanoid commented on #604
Okay then, cool that you are doing this anyway!

Is there another kernel you could try out, which potentially fixes this bug?

@pavelmachek: do you happen to know how to fix this?

[2017-10-06 18:45] #710 closed

[2017-10-06 19:14] z3ntu commented on #604
No, only 3.4 (stock) and kinda-mainline-with-basically-nothing-working are available

[2017-10-06 19:25] pavelmachek commented on #604
@ollieparanoid "sleeping function called from invalid context" means that you called something that can sleep from interrupt handler... probably. I'd have to understand the code. Fix may involve schedule_work() or something similar. https://www.safaribooksonline.com/library/view/understanding-the-linux/0596005652/ch04s08.html

[2017-10-07 00:39] zhuowei commented on #659
@ollieparanoid I've been looking into adding support for CMake-based packages (since KDE Plasma Mobile would take ages to compile in distcc).

CMake specifies cross compiling in a [Toolchain](https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-linux) file, which must be passed on the command line. So my plan is:

- Create a package with these toolchain files, as

[2017-10-07 05:46] rendeko commented on #683
@ollieparanoid Boots perfectly, with encrypted partition and graphical output. I'm adding my progress with it to the wiki. With this major issue out of the way, I think most discussion on the port can continue on the matrix/irc.

[2017-10-07 13:59] Larvitar commented on #322
@drebrez I've been trying to get it work for past 2 days. Demo app works after editing deviceinfo, but as for touch screen nothing has changed. It still gets recognized as Keyboard:
[code]

I've been trying to work with older commits to find the issue, but I've run into some dependencies errors when building from zero (some older packages are not in alpine repos anymore) or
`[15:40:53] ERROR: Coul